<app-toolbar title="EXTERNOS" [showAdd]="true" (add)="Add()"></app-toolbar>
<div class="container-fluid" [@fadeInOnEnter]>
    <mat-form-field>
        <mat-label>Buscar tramite externo</mat-label>
        <input matInput [(ngModel)]="paginatorService.text" (keyup)="applyFilter($event)"
            placeholder="Alterno / Referencia / Solicitante" #input>
        <button *ngIf="paginatorService.text" matSuffix mat-icon-button aria-label="Clear" (click)="cancelSearch()">
            <mat-icon>close</mat-icon>
        </button>


    </mat-form-field>
    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="Data" [class.isMobile]="'isMobile'">
                <ng-container matColumnDef="alterno">
                    <th mat-header-cell *matHeaderCellDef>Alterno</th>
                    <td mat-cell *matCellDef="let row">
                        <a (click)="View(row._id)">
                            {{row.alterno}}
                        </a>
                    </td>
                </ng-container>
                <ng-container matColumnDef="tramite">
                    <th mat-header-cell *matHeaderCellDef>Tramite</th>
                    <td mat-cell *matCellDef="let row">{{row.tipo_tramite.nombre|uppercase}}</td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.detalle}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="solicitante">
                    <th mat-header-cell *matHeaderCellDef>Solicitante</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.solicitante|solicitante}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef> Estado </th>
                    <td mat-cell *matCellDef="let row">
                        <span class="badge" [ngClass]="row.estado|state">
                            {{row.estado}}
                        </span>
                    </td>
                </ng-container>
                <ng-container matColumnDef="fecha_registro">
                    <th mat-header-cell *matHeaderCellDef>Fecha</th>
                    <td mat-cell *matCellDef="let row">{{row.fecha_registro|date:'short'}}</td>
                </ng-container>
                <ng-container matColumnDef="opciones" justify="end">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="Edit(row)" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Editar tramite</span>
                            </button>
                            <button (click)="Send(row)" [disabled]="row.estado!=='INSCRITO'" mat-menu-item>
                                <mat-icon>send</mat-icon>
                                <span>Remitir tramite</span>
                            </button>
                            <button (click)="GenerateFicha(row)" mat-menu-item>
                                <mat-icon>receipt_long</mat-icon>
                                <span>Ficha de tramite</span>
                            </button>
                            <button (click)="GenerateHojaRuta(row._id)" mat-menu-item>
                                <mat-icon>feed</mat-icon>
                                <span>Hoja de ruta</span>
                            </button>
                            <button (click)="cancelProcedure(row)" mat-menu-item>
                                <mat-icon>disabled_by_default</mat-icon>
                                <span>Anular tramite</span>
                            </button>
                            <button (click)="conclude(row)" mat-menu-item>
                                <mat-icon>domain_verification</mat-icon>
                                <span>Concluir tramite</span>
                            </button>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                <tr class="mat-row" *matNoDataRow>
                    <td class="mat-cell" colspan="4">Sin resultados para el termino "{{input.value}}"</td>
                </tr>
            </table>
        </div>

        <!-- <mat-paginator (page)="pagination($event)" [pageIndex]="externoService.offset"
            [length]="externoService.resultsLength" [pageSizeOptions]="[10, 20, 30, 50]"
            showFirstLastButtons></mat-paginator> -->

        <app-paginator (page)="Get()" [pageSizeOptions]="[10, 20, 30, 50]"></app-paginator>
    </div>
</div>