<div class="row">
    <mat-radio-group [(ngModel)]="groupProcedure" aria-label="Select an option">
        <mat-radio-button value="tramites_externos">Externo</mat-radio-button>
        <mat-radio-button value="tramites_internos">Interno</mat-radio-button>
    </mat-radio-group>
</div>
<form [formGroup]="options">
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Alterno</mat-label>
            <input type="text" matInput placeholder="Ingrese los caracteres" formControlName="alterno">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Referencia</mat-label>
            <textarea formControlName="detalle" matInput></textarea>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Cite</mat-label>
            <input type="text" matInput placeholder="Ingrese los caracteres" formControlName="cite">
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Estdado</mat-label>
            <mat-select formControlName="estado">
                <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
            </mat-select>
        </mat-form-field>
    </div>
    <div class="row">
        <mat-form-field appearance="fill">
            <mat-label>Ingrese un rango</mat-label>
            <mat-date-range-input [rangePicker]="picker">
                <input matStartDate formControlName="start" placeholder="Fecha inicial">
                <input matEndDate formControlName="end" placeholder="Fecha final">
            </mat-date-range-input>
            <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
            <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
            <mat-date-range-picker #picker></mat-date-range-picker>
            <mat-error *ngIf="options.controls.start.hasError('matStartDateInvalid')">Rango invalido</mat-error>
            <mat-error *ngIf="options.controls.end.hasError('matEndDateInvalid')">Rango invalido</mat-error>
        </mat-form-field>
    </div>
</form>
<button (click)="generateReport()"  mat-raised-button>Generar</button>