<h2 mat-dialog-title>{{title}}</h2>
<mat-dialog-content>
  <form [formGroup]="TramiteFormGroup" class="example-form">
    <div class="row" *ngIf="!data">
      <mat-form-field>
        <mat-label>Seleccione el tipo de tramite</mat-label>
        <mat-select (selectionChange)="selectType($event.value)" formControlName="tipo_tramite">
          <mat-option *ngFor="let tipo of tipos_tramites" [value]="tipo.id_tipoTramite">
            {{tipo.nombre}}
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <div class="row">
      <mat-form-field class="example-full-width">
        <mat-label>Referencia del tramite</mat-label>
        <textarea formControlName="detalle" matInput></textarea>
      </mat-form-field>
     
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del remitente</mat-label>
          <input type="text" class="uppercase" matInput formControlName="nombre_remitente" [matAutocomplete]="auto">
          <mat-autocomplete #auto="matAutocomplete">
            <mat-option (onSelectionChange)="seleccionar_remitente(this.option)"
              *ngFor="let option of filteredOptions | async" [value]="option|fullname">
              {{option|fullname|titlecase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Cargo del remitente</mat-label>
          <input class="uppercase" formControlName="cargo_remitente" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Nombre del destinatario</mat-label>
          <input class="uppercase" type="text" matInput formControlName="nombre_destinatario" matAutocompletePosition="below"
            [matAutocomplete]="auto1">
          <mat-autocomplete matau #auto1="matAutocomplete">
            <mat-option (onSelectionChange)="seleccionar_destinatario(option)"
              *ngFor="let option of filteredDestiny | async"
              [value]="option|fullname">
              {{option|fullname|titlecase}}
            </mat-option>
          </mat-autocomplete>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Cargo del destinatario</mat-label>
          <input class="uppercase" formControlName="cargo_destinatario" matInput>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>CITE</mat-label>
          <input formControlName="cite" matInput>
        </mat-form-field>
      </div>
      <div class="col-sm-6">
        <mat-form-field class="example-full-width">
          <mat-label>Cant. Hojas / Anexos</mat-label>
          <input formControlName="cantidad" matInput>
        </mat-form-field>
      </div>

    </div>
  </form>

</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-raised-button mat-dialog-close color="warn">Cancelar</button>
  <button mat-raised-button color="primary" [disabled]="TramiteFormGroup.invalid" (click)="guardar()">Guardar</button>
</mat-dialog-actions>