<h2 mat-dialog-title>Registro cuenta</h2>
<mat-dialog-content>
    <ng-container>
        <mat-stepper headerPosition="bottom" (selectionChange)="generar_credenciales()" [linear]="false" #stepper>
            <mat-step [stepControl]="Form_Funcionario">
                <form [formGroup]="Form_Funcionario">
                    <ng-template matStepLabel>Datos funcionario</ng-template>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Nombres</mat-label>
                                <input class="uppercase" formControlName="nombre" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Apellido paterno</mat-label>
                                <input class="uppercase" formControlName="paterno" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Apellido materno</mat-label>
                                <input class="uppercase" formControlName="materno" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Telefono</mat-label>
                                <input formControlName="telefono" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dni</mat-label>
                                <input formControlName="dni" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Cargo</mat-label>
                                <input class="uppercase" formControlName="cargo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Direccion</mat-label>
                                <input formControlName="direccion" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="Form_Cuenta">
                <form [formGroup]="Form_Cuenta">
                    <ng-template matStepLabel>Datos cuenta</ng-template>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Seleccione la institucion</mat-label>
                                <mat-select (selectionChange)="selectInstitucion($event.value)">
                                    <mat-option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                                        {{inst.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-select (selectionChange)="Form_Cuenta.get('dependencia')?.setValue($event.value)"
                                    [formControl]="bankCtrl" placeholder="Buscar la dependencia" #singleSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let bank of filteredBanks | async"
                                        [value]="bank.id_dependencia">
                                        {{bank.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Login</mat-label>
                                <input formControlName="login" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill">
                                <mat-label>Seleccione el rol</mat-label>
                                <mat-select formControlName="rol">
                                    <mat-option *ngFor="let rol of roles" [value]="rol._id">
                                        {{rol.role}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

                    </div>
                </form>
            </mat-step>
        </mat-stepper>
    </ng-container>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-button [disabled]="Form_Funcionario.invalid || Form_Cuenta.invalid"
        (click)="guardar()">Guardar</button>
</mat-dialog-actions>