<mat-toolbar color="primary">
    <button (click)="back()" mat-icon-button matTooltip="Regresar">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span *ngIf="Tramite">{{Tramite.alterno}}</span>
    <span class="example-spacer"></span>
    <button (click)="generateFicha()" matTooltip="Generar ficha de tramite" mat-icon-button>
        <mat-icon>print</mat-icon>
    </button>
</mat-toolbar>
<div [@slideInLeftOnEnter]>
    <mat-tab-group mat-align-tabs="center" *ngIf="Tramite">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                Informacion
            </ng-template>
            <app-info-tramite-externo *ngIf="tipo==='ficha-externa' && Tramite" [Tramite]="Tramite"
                [Location]="Location"></app-info-tramite-externo>
            <app-info-tramite-interno *ngIf="tipo==='ficha-interna'&& Tramite"
                [Tramite]="Tramite"></app-info-tramite-interno>
            </mat-tab>
            <mat-tab *ngIf="Observations.length>0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">push_pin</mat-icon>
                Observaciones
            </ng-template>
            <app-observaciones [Options]="false" [Observaciones]="Observations"></app-observaciones>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">list_alt</mat-icon>
                Eventos
            </ng-template>
            <!-- <app-events-procedure [events]="Tramite.eventos"></app-events-procedure> -->
        </mat-tab>
        <ng-container *ngIf="Workflow.length!==0">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">groups</mat-icon>
                    Flujo de trabajo
                </ng-template>
                <app-list-workflow [Workflow]="Workflow" [fecha_registro]="Tramite.fecha_registro"></app-list-workflow>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">account_tree</mat-icon>
                    Flujo de trabajo grafico
                </ng-template>
                <app-graph-workflow [Workflow]="Workflow"></app-graph-workflow>
            </mat-tab>
        </ng-container>

    </mat-tab-group>
</div>