<h2 mat-dialog-title>Registro cuenta</h2>
<mat-dialog-content>
    <ng-container *ngIf="!data">
        <mat-stepper headerPosition="bottom" (selectionChange)="generar_credenciales()" [linear]="false" #stepper>
            <mat-step [stepControl]="Form_Funcionario">
                <form [formGroup]="Form_Funcionario">
                    <ng-template matStepLabel>Datos funcionario</ng-template>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Nombres</mat-label>
                                <input class="uppercase" formControlName="nombre" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Apellido paterno</mat-label>
                                <input class="uppercase" formControlName="paterno" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Apellido materno</mat-label>
                                <input class="uppercase" formControlName="materno" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-sm-2">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Telefono</mat-label>
                                <input formControlName="telefono" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-2">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Dni</mat-label>
                                <input formControlName="dni" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Cargo</mat-label>
                                <input class="uppercase" formControlName="cargo" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Direccion</mat-label>
                                <input formControlName="direccion" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                </form>
            </mat-step>
            <mat-step [stepControl]="Form_Cuenta">
                <form [formGroup]="Form_Cuenta">
                    <ng-template matStepLabel>Datos cuenta</ng-template>
                    <div class="row">
                        <div class="col-sm-4">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Seleccione la institucion</mat-label>
                                <mat-select (selectionChange)="seleccionar_institucion($event.value)">
                                    <mat-option *ngFor="let inst of Instituciones" [value]="inst.id_institucion">
                                        {{inst.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                        <div class="col-sm-8">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-select (selectionChange)="Form_Cuenta.get('dependencia')?.setValue($event.value)"
                                    [formControl]="bankCtrl" placeholder="Buscar la dependencia" #singleSelect>
                                    <mat-option>
                                        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                                    </mat-option>
                                    <mat-option *ngFor="let bank of filteredBanks | async"
                                        [value]="bank.id_dependencia">
                                        {{bank.nombre}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Login</mat-label>
                                <input formControlName="login" matInput>
                            </mat-form-field>
                        </div>
                        <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Password</mat-label>
                                <input formControlName="password" matInput>
                            </mat-form-field>
                        </div>
                    </div>
                    <div class="row">
                        <!-- <div class="col-6">
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Permisos</mat-label>
                                <mat-select formControlName="rol">
                                    <mat-option *ngFor="let rol of Roles" [value]="rol.value">
                                        {{rol.viewValue | uppercase}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div> -->
                        <!-- <div class="col-6">
                            <section class="example-section" formControlName>
                                <h4>Select your toppings:</h4>
                                <p *ngFor="let rol of Roles"><mat-checkbox [value]="rol.value">{{rol.viewValue}}</mat-checkbox>
                                </p>
                            </section>
                        </div> -->

                    </div>

                </form>
            </mat-step>
            <mat-step [stepControl]="Form_Roles">
                <ng-template matStepLabel>Datos rol</ng-template>
                <section class="example-section" [formGroup]="Form_Roles">
                    <div class="container">
                        <div class="row">
                            <mat-form-field appearance="fill">
                                <mat-label>Selecconar rol</mat-label>
                                <mat-select (selectionChange)="selectRol($event.value)">
                                    <mat-option *ngFor="let rol of Roles" [value]="rol.value">
                                        {{rol.viewValue}}
                                    </mat-option>
                                </mat-select>
                            </mat-form-field>

                        </div>
                        <div class="row">
                            <div class="col-sm-6">
                                <h4>Administracion de tramites</h4>
                                <p><mat-checkbox formControlName="EXTERNOS">Administracion externos</mat-checkbox></p>
                                <p><mat-checkbox formControlName="INTERNOS">Administracion internos</mat-checkbox></p>
                                <p><mat-checkbox formControlName="BANDEJAS">Administracion bandejas</mat-checkbox></p>
                                <p><mat-checkbox formControlName="REPORTES">Generacion de reportes</mat-checkbox></p>
                                <p><mat-checkbox formControlName="BUSQUEDAS">Busquedas avanzadas</mat-checkbox></p>
                            </div>
                            <div class="col-sm-6">
                                <h4>Select your toppings:</h4>
                                <p><mat-checkbox formControlName="USUARIOS">Administracion de usuarios</mat-checkbox></p>
                                <p><mat-checkbox formControlName="CUENTAS">Administracion de cuentas</mat-checkbox></p>
                                <p><mat-checkbox formControlName="INSTITUCIONES">Administracion de instituciones</mat-checkbox></p>
                                <p><mat-checkbox formControlName="DEPENDENCIAS">Administracion de DEPENDENCIAS</mat-checkbox></p>
                            </div>
                        </div>

                    </div>
                </section>

            </mat-step>
        </mat-stepper>
    </ng-container>
    <ng-container *ngIf="data">
        <div class="container">
            <div class="main-body">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="card">
                            <div class="card-body">
                                <div class="d-flex flex-column align-items-center text-center">
                                    <img src="../../../../assets/img/account.png" alt="Admin" class="rounded-circle"
                                        width="110">
                                    <div class="mt-3">
                                        <h4>{{data.funcionario!.nombre|titlecase}} - {{data.funcionario!.dni}}</h4>
                                        <p class="text-secondary mb-1">{{data.funcionario!.cargo|uppercase}}</p>
                                        <p class="text-muted font-size-sm">
                                            {{data.dependencia.nombre}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form [formGroup]="Form_Cuenta">
                            <div class="card">
                                <div class="card-body">
                                    <mat-form-field>
                                        <mat-label>Login</mat-label>
                                        <input formControlName="login" matInput>
                                    </mat-form-field>
                                    <mat-form-field appearance="fill">
                                        <mat-label>Permisos</mat-label>
                                        <mat-select formControlName="rol">
                                            <mat-option *ngFor="let rol of Roles" [value]="rol.value">
                                                {{rol.viewValue | uppercase}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <mat-form-field *ngIf="cambiar_password">
                                        <mat-label>Password</mat-label>
                                        <input formControlName="password" matInput>
                                    </mat-form-field>
                                    <hr>
                                    <mat-checkbox [checked]="cambiar_password"
                                        (change)='cambiar_formulario($event.checked)' class="example-margin">
                                        Actualizar password
                                    </mat-checkbox>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </ng-container>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-button [disabled]="Form_Funcionario.invalid || Form_Cuenta.invalid"
        (click)="guardar()">Guardar</button>
</mat-dialog-actions>