<app-toolbar title="BANDEJA SALIDA"></app-toolbar>
<div class="container-fluid">
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table
        mat-table
        [dataSource]="dataSource"
        class="example-table"
        multiTemplateDataRows
      >
        <ng-container matColumnDef="alterno">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="View(row)">
              {{ row._id.procedure.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let row">
            {{ row._id.procedure.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            <span class="badge" [ngClass]="row._id.procedure.state | state">
              {{ row._id.procedure.state }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="fecha_envio">
          <th mat-header-cell *matHeaderCellDef>Fecha envio</th>
          <td mat-cell *matCellDef="let row">
            {{ row._id.outboundDate | date : "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="situacion">
          <th mat-header-cell *matHeaderCellDef>Envios</th>
          <td mat-cell *matCellDef="let row">
            {{ row.sendings.length }}
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button
                (click)="generar_hoja_ruta(row.tramite._id, row.tipo)"
                mat-menu-item
              >
                <mat-icon>print</mat-icon>
                <span>Hoja de ruta</span>
              </button>
              <button
                (click)="cancelAllSend(row)"
                mat-menu-item
                [disabled]="row.recibido !== undefined"
              >
                <mat-icon>cancel_schedule_send</mat-icon>
                <span>Cancelar envios</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>

        <ng-container matColumnDef="expand">
          <th mat-header-cell *matHeaderCellDef aria-label="row actions">
            &nbsp;
          </th>
          <td mat-cell *matCellDef="let element">
            <button
              mat-icon-button
              aria-label="expand row"
              (click)="
                expandedElement = expandedElement === element ? null : element;
                $event.stopPropagation()
              "
            >
              <mat-icon *ngIf="expandedElement !== element"
                >keyboard_arrow_down</mat-icon
              >
              <mat-icon *ngIf="expandedElement === element"
                >keyboard_arrow_up</mat-icon
              >
            </button>
          </td>
        </ng-container>
        <ng-container matColumnDef="expandedDetail">
          <td
            mat-cell
            *matCellDef="let element"
            [attr.colspan]="displayedColumns.length"
          >
            <div
              class="example-element-detail"
              [@detailExpand]="
                element == expandedElement ? 'expanded' : 'collapsed'
              "
            >
              <div class="expanded-contend p-2" style="width: 100%">
                <table class="table table-borderless align-middle fs-6">
                  <thead>
                    <tr>
                      <th scope="col">Destinatario</th>
                      <th scope="col">Situacion</th>
                      <th scope="col">Opciones</th>
                    </tr>
                  </thead>
                  <tbody>
                    <tr *ngFor="let send of element.sendings; let i = index">
                      <td>
                        {{ send.receiver.fullname | titlecase }} ({{
                          send.receiver.jobtitle
                        }})
                        <br />
                        <p
                          *ngIf="send.status === 'rejected'"
                          class="text-danger mt-1"
                        >
                          {{ send.rejectionReason }}
                        </p>
                      </td>
                      <td>
                        <div [ngSwitch]="send.status">
                          <div *ngSwitchCase="'pending'">
                            <span class="c-pill c-pill--warning">ENVIADO</span>
                          </div>
                          <div *ngSwitchCase="'rejected'">
                            <span class="c-pill c-pill--danger">RECHAZADO</span>
                          </div>
                          <div *ngSwitchDefault>
                            <span class="c-pill c-pill--success">ACEPTADO</span>
                          </div>
                        </div>
                      </td>
                      <td>
                        <button
                          matTooltip="Cancelar envio"
                          mat-icon-button
                          color="accent"
                          aria-label="Example icon button with a menu icon"
                        >
                          <mat-icon>unsubscribe</mat-icon>
                        </button>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: displayedColumns"
          class="example-element-row"
          [class.example-expanded-row]="expandedElement === row"
        ></tr>
        <tr
          mat-row
          *matRowDef="let row; columns: ['expandedDetail']"
          class="example-detail-row"
        ></tr>
      </table>
    </div>
    <app-paginator
      (page)="Get()"
      [pageSizeOptions]="[10, 20, 30, 50]"
    ></app-paginator>
  </div>
</div>
