<p>
  <mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>RECURSOS</span>
  </mat-toolbar>
</p>
<div class="container-fluid">
  <mat-card class="example-result-card">
    <mat-card-content>
      <p>Generador de hojas de ruta</p>
      <div class="example-label-container">
        <label id="example-name-label" class="example-name-label">Destinatario: 4 - Destinatario: </label>
        <label class="example-value-label">{{numberRoadMaps}}</label>
      </div>
      <mat-slider [max]="39" [min]="4" step="1" showTickMarks discrete [displayWith]="formatLabel">
        <input [(ngModel)]="numberRoadMaps" matSliderThumb>
      </mat-slider>
    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" (click)="generate()">Generar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <mat-card>
    <mat-card-content>
      <p>Tema: {{(isDarkTheme | async)===true?'OSCURO':'CLARO'}}</p>
      <label class="switch">
        <input [(ngModel)]="check" [checked]="isDarkTheme | async" (change)="toggleDarkTheme()" type="checkbox">
        <span class="slider"></span>
      </label>
    </mat-card-content>
  </mat-card>

  
 


  <footer class="d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="." class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img width="30" height="24" src="../../../../assets/img/logo_alcaldia.png" alt="">
      </a>
      <span class="mb-3 mb-md-0 text-muted">© 2023 - Sistema de segumiento de tramites</span>
    </div>
  </footer>

</div>