<p>
    <mat-toolbar color="primary">
        <span>CUENTAS
        </span>
        <span class="example-spacer"></span>
        <button (click)="Add()" mat-icon-button matTooltip="Crear cuenta">
            <mat-icon>account_circle</mat-icon>
        </button>
        <button (click)="addAccountWithAssign()" mat-icon-button matTooltip="Asignar cuenta">
            <mat-icon>contact_emergency</mat-icon>
        </button>
    </mat-toolbar>
</p>

<div class="container-fluid" [@fadeInOnEnter]>
    <div class="row">
        <div class="col-sm-3">
            <app-simple-mat-select-search [placehorder]="'Institucion'" [allowNullValue]="true" [data]="institutions"
                (eventSelectedOption)="getDependencias($event)"
                [pathPropertyOfObjectDisplay]="'nombre'"></app-simple-mat-select-search>
        </div>
        <div class="col-sm-5">
            <app-simple-mat-select-search [placehorder]="'Dependencia'" [allowNullValue]="true" [data]="dependencies"
                (eventSelectedOption)="getAccountsOfDependency($event)"
                [pathPropertyOfObjectDisplay]="'nombre'"></app-simple-mat-select-search>
        </div>
        <div class="col-sm-4">
            <mat-form-field class="example-full-width">
                <mat-label>Buscar funcionario</mat-label>
                <input [(ngModel)]="text" matInput #myInput (keyup)="applyFilter($event)" placeholder="Nombre / DNI">
                <button *ngIf="text" matSuffix mat-icon-button aria-label="Clear" (click)="cancelSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>
    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="accounts">
                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef> Login </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon style="color: royalblue;  vertical-align: middle;">account_circle</mat-icon>
                        {{element.login}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Funcionario </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="element.funcionario">
                            <div style="color: red;" *ngSwitchCase="undefined">
                                SIN ASIGNAR
                            </div>
                            <div *ngSwitchDefault>
                                {{element.funcionario|fullname|titlecase}}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dependencia">
                    <th mat-header-cell *matHeaderCellDef> Dependencia </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dependencia.nombre |slice:0:60}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="institucion">
                    <th mat-header-cell *matHeaderCellDef> Institucion </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dependencia.institucion.sigla|uppercase}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="activo">
                    <th mat-header-cell *matHeaderCellDef> Situacion </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container [ngSwitch]="element.activo">
                            <span *ngSwitchCase="true" class="c-pill c-pill--success">Habilitado</span>
                            <span *ngSwitchCase="false" class="c-pill c-pill--danger">Deshabilitado</span>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="EditUser(element)" [disabled]="!element.funcionario" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Editar funcionario</span>
                            </button>
                            <button (click)="Edit(element)" mat-menu-item>
                                <mat-icon>manage_accounts</mat-icon>
                                <span>Editar cuenta</span>
                            </button>
                            <button (click)="disable(element._id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>{{element.activo?'Deshabilitar cuenta':'Habilitar cuenta'}}</span>
                            </button>

                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <app-paginator (page)="Get()" [pageSizeOptions]="[10, 20, 30, 50]"></app-paginator>
    </div>
</div>