<p *ngIf="!search_mode">
    <mat-toolbar>
        <ng-container>
            <span>Cuentas
            </span>
            <span class="example-spacer"></span>
            <button (click)="changeSearchMode(true)" mat-icon-button>
                <mat-icon>search</mat-icon>
            </button>
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="Add()" mat-menu-item>
                    <mat-icon>account_circle</mat-icon>
                    <span>Crear cuenta</span>
                </button>
                <button (click)="AddUser()" mat-menu-item>
                    <mat-icon>person_add</mat-icon>
                    <span>Crear funcionario</span>
                </button>
                <button (click)="AddAccountLink()" mat-menu-item>
                    <mat-icon>contacts</mat-icon>
                    <span>Asignar cuenta</span>
                </button>
            </mat-menu>
        </ng-container>
    </mat-toolbar>
</p>

<div class="container-fluid">
    <div [@expandOnEnter] [@collapseOnLeave] *ngIf="search_mode">
        <mat-card appearance="outlined" class="example-card">
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-2">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de busqueda</mat-label>
                            <mat-select (selectionChange)="selectTypeSearch($event.value)">
                                <mat-option *ngFor="let option of searchOpions" [value]="option.value">
                                    {{option.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <ng-container [ngSwitch]="typeSearch">
                        <ng-container *ngSwitchCase="'dependencia'">
                            <div class="col-sm-3">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-label>Seleccione la institucion</mat-label>
                                    <mat-select (selectionChange)="getDependencias($event.value)">
                                        <mat-option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                                            {{inst.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-7">
                                <mat-form-field appearance="fill" class="example-full-width">
                                    <mat-select (selectionChange)="applyFilterbySelect()" [formControl]="bankCtrl"
                                        placeholder="Buscar dependencia" #singleSelect>
                                        <mat-option>
                                            <ngx-mat-select-search
                                                [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                                        </mat-option>
                                        <mat-option *ngFor="let bank of filteredBanks | async"
                                            [value]="bank.id_dependencia">
                                            {{bank.nombre}}
                                        </mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                        </ng-container>

                        <div class="col-sm-10" *ngSwitchDefault>
                            <mat-form-field appearance="fill" class="example-full-width">
                                <mat-label>Termino a buscar</mat-label>
                                <input (keyup)="applyFilterbyText($event)" matInput>
                            </mat-form-field>
                        </div>
                    </ng-container>
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="warn" (click)="changeSearchMode(false)">Cancelar</button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>
    <div [@fadeInOnEnter] class="example-container mat-elevation-z8">
        <div class="example-table-container" [ngClass]="search_mode?'search':''">
            <table mat-table [dataSource]="Cuentas">
                <ng-container matColumnDef="login">
                    <th mat-header-cell *matHeaderCellDef> Login </th>
                    <td mat-cell *matCellDef="let element">
                        <mat-icon style="color: royalblue;  vertical-align: middle;">account_circle</mat-icon>
                        {{element.login}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="rol">
                    <th mat-header-cell *matHeaderCellDef> Rol </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.rol}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="nombre">
                    <th mat-header-cell *matHeaderCellDef> Funcionario </th>
                    <td mat-cell *matCellDef="let element">
                        <div [ngSwitch]="element.funcionario">
                            <div style="color: red;" *ngSwitchCase="undefined">
                                SIN ASIGNAR
                            </div>
                            <div *ngSwitchDefault>
                                {{element.funcionario|fullname|titlecase}}
                            </div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="dependencia">
                    <th mat-header-cell *matHeaderCellDef> Dependencia </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dependencia.nombre |slice:0:60}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="institucion">
                    <th mat-header-cell *matHeaderCellDef> Institucion </th>
                    <td mat-cell *matCellDef="let element">
                        {{element.dependencia.institucion.sigla|uppercase}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="activo">
                    <th mat-header-cell *matHeaderCellDef> Situacion </th>
                    <td mat-cell *matCellDef="let element">
                        <ng-container [ngSwitch]="element.activo">
                            <span *ngSwitchCase="true" class="c-pill c-pill--success">Habilitado</span>
                            <span *ngSwitchCase="false" class="c-pill c-pill--danger">Deshabilitado</span>
                        </ng-container>
                    </td>
                </ng-container>
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <button (click)="EditUser(element)" [disabled]="!element.funcionario" mat-menu-item>
                                <mat-icon>edit</mat-icon>
                                <span>Editar funcionario</span>
                            </button>
                            <button (click)="Edit(element)" mat-menu-item>
                                <mat-icon>manage_accounts</mat-icon>
                                <span>Editar cuenta</span>
                            </button>
                            <button (click)="disable(element._id)" mat-menu-item>
                                <mat-icon>delete</mat-icon>
                                <span>{{element.activo?'Deshabilitar cuenta':'Habilitar cuenta'}}</span>
                            </button>

                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
        </div>
        <mat-paginator [showFirstLastButtons]="true" [length]="Total" (page)="onPaginationChange()" [pageSize]="10"
            [pageSizeOptions]="[10, 20, 40, 50]" aria-label="Select page of GitHub search results"></mat-paginator>
    </div>
</div>