<h2 mat-dialog-title>HISTORIAL DE TRABAJO</h2>
<mat-dialog-content>
  @if (isLoading()) {
  <mat-progress-bar mode="indeterminate"></mat-progress-bar>
  } @else {
  <table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">Fecha</th>
        <th scope="col">Funcionario</th>
        <th scope="col">Detalle</th>
      </tr>
    </thead>
    <tbody>
      @for (log of history(); track $index) {
      <tr>
        <th scope="row">{{ log.date | date : "short" }}</th>
        <td>{{ log.officer | fullname | titlecase }}</td>
        <td>cargo adquirido: {{ log.job.nombre }}</td>
      </tr>
      } @empty {
      <tr>
        <td colspan="3">SIN EVENTOS</td>
      </tr>
      }
    </tbody>
  </table>
  }
</mat-dialog-content>
<mat-dialog-actions align="end">
  <button mat-button mat-dialog-close>CERRAR</button>
</mat-dialog-actions>
