.list-group {
    max-height: 220px;
    overflow-y: scroll;
    font-size: 13px;
}

.mat-mdc-select {
    font-size: 12px;
}

.example-section {
    display: flex;
    align-content: center;
    align-items: center;
    height: 60px;
}

.example-margin {
    margin: 0 10px;
}