.list-group {
    max-height: 220px;
    overflow-y: scroll;
    font-size: 13px;
}

.example-radio-group {
    display: flex;
    flex-direction: column;
    margin: 15px 0;
    align-items: flex-start;
}


.example-radio-button {
    margin: 5px;
}

.mat-mdc-select {
    font-size: 12px;
}