<div class="container-fluid">
  <div class="list-workflow">
    <div
      class="row p-3 mb-2 align-items-center"
      *ngFor="let item of workflow; let i = index"
    >
      <div class="col-sm-6 align-middle">
        <div class="card bg-transparent">
          <div class="card-body">
            <h5 class="card-title">
              {{ item.sendings[0].emitter.fullname | titlecase }}
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ item.sendings[0].emitter.jobtitle | uppercase }}
            </h6>
            <hr />
            <p class="card-text">{{ item.sendings[0].reference }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Fecha envio: {{ item._id.outboundDate | date : "short" }}
            </li>
            <li class="list-group-item">
              Cantidad: {{ item.sendings[0].attachmentQuantity }}
            </li>
          </ul>
        </div>
      </div>
      <div class="col-sm-6">
        <div
          class="card bg-transparent border border-3"
          *ngFor="let subitem of item.sendings"
          [ngClass]="[
            subitem.status === 'rejected' ? 'border-danger' : '',
            subitem.status === 'pending' ? 'border-warning' : 'border-success'
          ]"
        >
          <div class="card-body">
            <h5 class="card-title">
              {{ subitem.receiver.fullname | titlecase }}
            </h5>
            <h6 class="card-subtitle mb-2 text-body-secondary">
              {{ subitem.receiver.jobtitle }}
            </h6>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Fecha recibido: {{ subitem.inboundDate | date : "short" }}
            </li>
            <li
              *ngIf="subitem.rejectionReason"
              class="list-group-item text-danger"
            >
              Motivo rechazo: {{ subitem.rejectionReason }}
            </li>
          </ul>
        </div>
      </div>
      <div class="d-flex mt-3">
        <hr class="my-auto flex-grow-1" />
        <div class="px-4">ETAPA "{{ i + 1 }}"</div>
        <hr class="my-auto flex-grow-1" />
      </div>
    </div>
  </div>
</div>
