table {
    width: 100%;
}


/* Structure */
.example-container {
    position: relative;
}

.example-table-container {
    position: relative;
    max-height: 70vh;
    overflow: auto;
}

table {
    width: 100%;
}


.mat-cell {
    font-size: 12px;

}

tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

.mail_recibido .mat-cell {
    background-color: #FE5F55;
    color: white;
}

.mail_recibido a {
    color: black;
}

.badge {
    font-size: 12px;
}
.example-header-image {
    background-image: url('../../../assets/img/account.png');
    background-size: cover;
}