<mat-toolbar>
    <span>Bandeja entrada</span>
    <span class="example-spacer"></span>
    <button matTooltip="Buscar tramite" (click)="changeSearchMode(true)" mat-icon-button
        class="example-icon favorite-icon">
        <mat-icon>search</mat-icon>
    </button>

</mat-toolbar>
<div class="container-fluid" [@fadeInOnEnter]>
    <div [@expandOnEnter] [@collapseOnLeave] *ngIf="bandejaService.searchOptionsIn.active">
        <mat-card appearance="outlined" class="example-card">
            <mat-card-content>
                <div class="row">
                    <div class="col-sm-2">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Tipo de busqueda</mat-label>
                            <mat-select [(ngModel)]="bandejaService.searchOptionsIn.type">
                                <mat-option *ngFor="let option of filterOptions" [value]="option.value">
                                    {{option.viewValue}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                    <div class="col-sm-10">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>Ingrese el alterno del tramite</mat-label>
                            <input [(ngModel)]="bandejaService.searchOptionsIn.text" (keyup)="search($event)" matInput>
                        </mat-form-field>
                    </div>
                </div>
                <mat-divider></mat-divider>
            </mat-card-content>
            <mat-card-actions>
                <button mat-stroked-button color="warn" (click)="changeSearchMode(false)">Cancelar</button>
            </mat-card-actions>
        </mat-card>
        <br>
    </div>

    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="bandejaService.DataMailsIn" class="example-table" multiTemplateDataRows>
                <ng-container matColumnDef="tipo_correspondencia">
                    <th mat-header-cell *matHeaderCellDef>Tipo</th>
                    <td mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.tipo">
                            <div *ngSwitchCase="'tramites_internos'">INTERNO</div>
                            <div *ngSwitchCase="'tramites_externos'">EXTERNO</div>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="alterno">
                    <th mat-header-cell *matHeaderCellDef>Alterno</th>
                    <td mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.tipo">
                            <div *ngSwitchCase="'tramites_externos'">
                                <a [routerLink]="['mail-ficha-externo', row._id]">
                                    {{row.tramite.alterno}}
                                </a>
                            </div>
                            <div *ngSwitchCase="'tramites_internos'">
                                <a [routerLink]="['mail-ficha-interno', row._id]">
                                    {{row.tramite.alterno}}
                                </a>
                            </div>
                        </div>
                    </td>
                </ng-container>

                <ng-container matColumnDef="tramite">
                    <th mat-header-cell *matHeaderCellDef>Tramite</th>
                    <td mat-cell *matCellDef="let row">{{row.tramite.tipo_tramite.nombre}}</td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let row">{{row.tramite.detalle}}</td>
                </ng-container>

                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="badge" [ngClass]="[
                            row.tramite.estado=='INSCRITO'?'text-bg-primary':'',
                            row.tramite.estado=='EN REVISION'?'text-bg-secondary':'',
                            row.tramite.estado=='OBSERVADO'?'text-bg-warning':'',
                            row.tramite.estado=='CONCLUIDO'?'text-bg-dark':'',
                        ]">
                            {{row.tramite.estado|uppercase}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="receptor">
                    <th mat-header-cell *matHeaderCellDef>Recibido de</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.emisor.dependencia.nombre}}
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha_envio">
                    <th mat-header-cell *matHeaderCellDef>Recibido</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.fecha_envio | date:'short'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <div [ngSwitch]="row.recibido">
                                <div *ngSwitchCase="false">
                                    <button (click)="aceptar_tramite(row)" mat-menu-item>
                                        <mat-icon>done</mat-icon>
                                        <span>Aceptar tramite</span>
                                    </button>
                                    <button (click)="rechazar_tramite(row)" mat-menu-item>
                                        <mat-icon>block</mat-icon>
                                        <span>Rechazar tramite</span>
                                    </button>
                                </div>
                                <div *ngSwitchCase="true">
                                    <button (click)="send(row)" mat-menu-item>
                                        <mat-icon>send</mat-icon>
                                        <span>Remitir tramite</span>
                                    </button>
                                    <button (click)="concluir_tramite(row.tipo, row.tramite._id, row.tramite.alterno)"
                                        mat-menu-item>
                                        <mat-icon>domain_verification</mat-icon>
                                        <span>Concluir tramite</span>
                                    </button>
                                </div>
                            </div>
                        </mat-menu>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expand">
                    <th mat-header-cell *matHeaderCellDef aria-label="row actions">&nbsp;</th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-icon-button aria-label="expand row"
                            (click)="(expandedElement = expandedElement === element ? null : element); $event.stopPropagation()">
                            <mat-icon *ngIf="expandedElement !== element">keyboard_arrow_down</mat-icon>
                            <mat-icon *ngIf="expandedElement === element">keyboard_arrow_up</mat-icon>
                        </button>
                    </td>
                </ng-container>
                <ng-container matColumnDef="expandedDetail">
                    <td mat-cell *matCellDef="let element" [attr.colspan]="displayedColumns.length">
                        <div class="example-element-detail"
                            [@detailExpand]="element == expandedElement ? 'expanded' : 'collapsed'">
                            <app-mail-header [Data]="element"></app-mail-header>
                        </div>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                    [ngClass]="{'mail_recibido': row.recibido==false }"
                    [class.example-expanded-row]="expandedElement === row"></tr>
                <tr mat-row *matRowDef="let row; columns: ['expandedDetail']" class="example-detail-row"></tr>
            </table>
        </div>

        <mat-paginator (page)="paginacion($event)" [length]="bandejaService.PaginationMailsIn.total"
            [pageSizeOptions]="[50, 60, 70, 80]" [pageIndex]="bandejaService.PaginationMailsIn.offset"
            showFirstLastButtons>
        </mat-paginator>
    </div>


</div>