<app-toolbar title="GRUPO DE TRABAJO"></app-toolbar>
<div class="container-fluid">
    <mat-list>
        <mat-list-item *ngFor="let user of socketService.onlineUsers">
            <img matListItemAvatar src="../../../assets/img/account.png" alt="...">
            <h3 class="fw-bold" matListItemTitle>{{user.funcionario.nombre|titlecase}}</h3>
            <span class="fst-italic" matListItemLine>{{user.funcionario.cargo|uppercase}}</span>
            <span matListItemLine>Sesiones: {{user.socketIds.length}}</span>
            <button matListItemMeta mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <button (click)="sendNotificacion(user)" mat-menu-item>
                    <mat-icon>campaign</mat-icon>
                    <span>Notificar</span>
                </button>
                <button (click)="kickUser(user)" mat-menu-item>
                    <mat-icon>connect_without_contact</mat-icon>
                    <span>Expulsar</span>
                </button>
            </mat-menu>
        </mat-list-item>
    </mat-list>
</div>