<app-toolbar
  class="custom-toolbar"
  title="EXTERNOS"
  [showAdd]="true"
  (add)="Add()"
></app-toolbar>
<div class="container-fluid animate__animated animate__fadeIn">
  <app-input-search-procedures
    [value]="textSearch"
    (searchEvent)="applyFilter($event)"
  ></app-input-search-procedures>
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="alterno">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let row">
            <a (click)="view(row)">
              {{ row.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let row">
            {{ row.reference }}
          </td>
        </ng-container>
        <ng-container matColumnDef="solicitante">
          <th mat-header-cell *matHeaderCellDef>Solicitante</th>
          <td mat-cell *matCellDef="let row">
            {{ row.details.solicitante | solicitante }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let row">
            <span class="badge" [ngClass]="row.state | state">
              {{ row.state }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="fecha_registro">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let row">
            {{ row.startDate | date : "short" : "-400" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="enviado">
          <th mat-header-cell *matHeaderCellDef>Enviado</th>
          <td mat-cell *matCellDef="let row">
            <mat-icon [ngClass]="row.send ? 'send' : 'pending'">{{
              row.send ? "mark_email_read" : "unsubscribe"
            }}</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button
              mat-icon-button
              [matMenuTriggerFor]="menu"
              aria-label="Example icon-button with a menu"
            >
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item (click)="Edit(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar tramite</span>
              </button>
              <button mat-menu-item [disabled]="row.send" (click)="Send(row)">
                <mat-icon>send</mat-icon>
                <span>Remitir tramite</span>
              </button>
              <button mat-menu-item (click)="GenerateFicha(row)">
                <mat-icon>receipt_long</mat-icon>
                <span>Ficha de tramite</span>
              </button>
              <button mat-menu-item (click)="generateRouteMap(row._id)">
                <mat-icon>feed</mat-icon>
                <span>Hoja de ruta</span>
              </button>
              <button
                mat-menu-item
                (click)="conclude(row)"
                [disabled]="row.estado === 'CONCLUIDO' || row.enviado === true"
              >
                <mat-icon>domain_verification</mat-icon>
                <span>Concluir tramite</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell" colspan="4">Sin resultados para el termino</td>
        </tr>
      </table>
    </div>
    <app-paginator
      [pageSizeOptions]="[10, 20, 30, 50]"
      (page)="Get()"
    ></app-paginator>
  </div>
</div>
