<h2 mat-dialog-title>HISTORIAL DE TRABAJO</h2>
<mat-dialog-content class="mat-typography">
    <div *ngIf="history.length===0" class="alert alert-primary" role="alert">
       El funcionario aun no ha sido asignado a un cargo
    </div>
    <mat-list *ngIf="history.length>0">
        <mat-list-item *ngFor="let log of history">
            <mat-icon matListItemIcon>manage_accounts</mat-icon>
            <div matListItemTitle>{{log.officer|fullname|titlecase}}</div>
            <div matListItemLine>Ha ingresado con el cargo {{log.job.nombre}}</div>
            Fecha: {{log.date|date:'short'}}
        </mat-list-item>
    </mat-list>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>CERRAR</button>
</mat-dialog-actions>