<p>
  <mat-toolbar color="primary">
    <sidenav-button />
    <span>ARCHIVOS</span>
  </mat-toolbar>
</p>

<div class="container-fluid animate__animated animate__fadeIn">
  <app-input-search-procedures
    placeholder="Alterno / Referencia / Solicitante"
    [initialValue]="textToSearch"
    (searchEvent)="applyFilter($event)"
  />
  <div class="example-container mat-elevation-z8">
    <div class="table-container">
      <table mat-table [dataSource]="dataSource()">
        <ng-container matColumnDef="code">
          <th mat-header-cell *matHeaderCellDef>Tramite</th>
          <td mat-cell *matCellDef="let element">
            <a
              class="link-primary"
              [routerLink]="['/tramites/archivados', element.procedure.group, element.procedure._id]"
              [queryParams]="PageParams"
            >
              {{ element.procedure.code }}
            </a>
          </td>
        </ng-container>

        <ng-container matColumnDef="manager">
          <th mat-header-cell *matHeaderCellDef>Responsable</th>
          <td mat-cell *matCellDef="let element">
            {{ element.receiver.fullname | titlecase }}
          </td>
        </ng-container>

        <ng-container matColumnDef="reference">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let element">
            {{ element.procedure.reference }}
          </td>
        </ng-container>

        <ng-container matColumnDef="state">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span class="badge" [ngClass]="element.procedure.state | state">
              {{ element.procedure.state }}
            </span>
          </td>
        </ng-container>

        <ng-container matColumnDef="show-detail">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="showTimeline(element)" matTooltip="Ver cronologia">
              <mat-icon>timer</mat-icon>
            </button>
          </td>
        </ng-container>

        <ng-container matColumnDef="options">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button (click)="unarchive(element)" matTooltip="Desarchivar tramite">
              <mat-icon>drive_folder_upload</mat-icon>
            </button>
          </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
        <tr class="mat-row" *matNoDataRow>
          <td class="mat-cell p-3" colspan="4">No se encontraron resultados</td>
        </tr>
      </table>
    </div>
    <app-paginator (changePage)="getData()" />
  </div>
</div>
