<h2 mat-dialog-title>Registro de cuenta y asignacion</h2>
<mat-dialog-content>
    <form [formGroup]="Form_Cuenta">
        <ng-template matStepLabel>Datos cuenta</ng-template>
        <div class="row">
            <mat-form-field appearance="fill" class="example-full-width">
                <mat-select [formControl]="userCtrl" placeholder="Nombre / Cargo / Dni" #singleSelect
                    (selectionChange)="selectUserAssign($event.value)">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="userFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let user of filteredUsers | async" [value]="user">
                        <strong>{{user|fullname|titlecase}}</strong> (<small>{{user.cargo|uppercase}}</small>)
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-label>Seleccione la institucion</mat-label>
                    <mat-select (selectionChange)="seleccionar_institucion($event.value)">
                        <mat-option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                            {{inst.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col">
                <mat-form-field class="example-full-width">
                    <mat-select (selectionChange)="Form_Cuenta.get('dependencia')?.setValue($event.value)"
                        [formControl]="bankCtrl" placeholder="Buscar la dependencia" #singleSelect>
                        <mat-option>
                            <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                        </mat-option>
                        <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.id_dependencia">
                            {{bank.nombre}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Login</mat-label>
                    <input formControlName="login" matInput>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Password</mat-label>
                    <input formControlName="password" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-6">
                <mat-form-field appearance="fill" class="example-full-width">
                    <mat-label>Permisos</mat-label>
                    <mat-select formControlName="rol">
                        <mat-option *ngFor="let rol of roles" [value]="rol._id">
                            {{rol.role }}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>

    </form>

</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-button mat-dialog-close>Cancelar</button>
    <ng-container>
        <button mat-raised-button color="primary" mat-button [disabled]="Form_Cuenta.invalid || !userCtrl.value"
            (click)="guardar()">Guardar</button>
    </ng-container>

</mat-dialog-actions>