<div *ngIf="!isLoading" class="animate__animated animate__fadeInLeft animate__faster">
  <mat-toolbar color="primary">
    <button (click)="backLocation()" mat-icon-button matTooltip="Regresar">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ procedure.code }}</span>
    <span class="example-spacer"></span>
    <button (click)="generateFicha()" matTooltip="Generar ficha de tramite" mat-icon-button>
      <mat-icon>print</mat-icon>
    </button>
  </mat-toolbar>
  <div>
    <mat-tab-group mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label> <mat-icon class="tab-icon">info</mat-icon> Informacion </ng-template>
        <div [ngSwitch]="procedure.group">
          <div *ngSwitchCase="group.EXTERNAL">
            <app-external-detail [procedure]="external"></app-external-detail>
          </div>
          <div *ngSwitchCase="group.INTERNAL">
            <app-internal-detail [procedure]="internal"></app-internal-detail>
          </div>
          <div *ngSwitchDefault>Type procedure not define {{ procedure.group }}</div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="observations.length > 0">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">push_pin</mat-icon>
          Observaciones
        </ng-template>
        <app-observations [observations]="observations"></app-observations>
      </mat-tab>
      <ng-container *ngIf="workflow.length > 0">
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">groups</mat-icon>
            Flujo de trabajo
          </ng-template>
          <app-list-workflow [workflow]="workflow" [startDate]="procedure.startDate"></app-list-workflow>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            <mat-icon class="tab-icon">account_tree</mat-icon>
            Flujo de trabajo grafico
          </ng-template>
          <app-graph-workflow [workflow]="workflow"></app-graph-workflow>
        </mat-tab>
      </ng-container>
    </mat-tab-group>
  </div>
</div>
