<div class="row">
  <div class="col-sm-8">
    <mat-form-field class="example-form-field">
      <mat-label>Buscar tramite</mat-label>
      <input
        matInput
        type="text"
        placeholder="Alterno / Referencia / Remitente"
      />
      <button matSuffix mat-icon-button aria-label="Clear">
        <mat-icon>search</mat-icon>
      </button>
    </mat-form-field>
  </div>
  <div class="col-sm-4 p-2">
    <button mat-stroked-button color="primary">Primary</button>
  </div>
</div>
