<app-toolbar title="BANDEJA ENTRADA"></app-toolbar>
<div class="container-fluid" [@fadeInOnEnter]>
    <div class="row">
        <div class="col-sm-3">
            <mat-radio-group [(ngModel)]="paginatorService.type" (change)="selectTypeSearch()"
                aria-label="Select an option">
                <mat-radio-button class="default-radio-button" [value]="undefined"
                    color="primary">TODOS</mat-radio-button>
                <mat-radio-button value="EXTERNO" color="accent">EXTERNOS</mat-radio-button>
                <mat-radio-button value="INTERNO" color="warn">INTERNOS</mat-radio-button>
            </mat-radio-group>
        </div>
        <div class="col-sm-9">
            <mat-form-field class="example-full-width">
                <mat-label>Buscar tramite</mat-label>
                <input [(ngModel)]="paginatorService.text" (keyup)="applyFilter($event)" matInput
                    placeholder="Alterno / Referencia / Proveido / Nº Interno"
                    [disabled]="paginatorService.type===undefined">
                <button *ngIf="paginatorService.text" matSuffix mat-icon-button aria-label="Clear"
                    (click)="cancelSearch()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-form-field>
        </div>
    </div>

    <div class="example-container mat-elevation-z8">
        <div class="example-table-container">
            <table mat-table [dataSource]="bandejaService.Mails" class="example-table">
                <ng-container matColumnDef="alterno">
                    <th mat-header-cell *matHeaderCellDef>Alterno</th>
                    <td mat-cell *matCellDef="let row">
                        <div [ngSwitch]="row.tipo">
                            <a (click)="View(row._id)">
                                {{row.tramite.alterno}}
                            </a>
                        </div>
                    </td>
                </ng-container>
                <ng-container matColumnDef="descripcion">
                    <th mat-header-cell *matHeaderCellDef>Referencia</th>
                    <td mat-cell *matCellDef="let row">{{row.tramite.detalle}}</td>
                </ng-container>
                <ng-container matColumnDef="estado">
                    <th mat-header-cell *matHeaderCellDef>Estado</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="badge" [ngClass]="row.tramite.estado|state">
                            {{row.tramite.estado}}
                        </span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="emisor">
                    <th mat-header-cell *matHeaderCellDef>Emisor</th>
                    <td mat-cell *matCellDef="let row">
                        <span class="fw-bold">{{row.emisor.funcionario|fullname}}</span>
                        <br>
                        <span class="fw-light">{{row.emisor.funcionario.cargo}}</span>
                    </td>
                </ng-container>

                <ng-container matColumnDef="fecha_envio">
                    <th mat-header-cell *matHeaderCellDef>Recibido</th>
                    <td mat-cell *matCellDef="let row">
                        {{row.fecha_envio | date:'short'}}
                    </td>
                </ng-container>
                <ng-container matColumnDef="opciones">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let row">
                        <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                        <mat-menu #menu="matMenu">
                            <div [ngSwitch]="row.recibido">
                                <div *ngSwitchCase="undefined">
                                    <button (click)="aceptar_tramite(row)" mat-menu-item>
                                        <mat-icon>done</mat-icon>
                                        <span>Aceptar tramite</span>
                                    </button>
                                    <button (click)="rechazar_tramite(row)" mat-menu-item>
                                        <mat-icon>block</mat-icon>
                                        <span>Rechazar tramite</span>
                                    </button>
                                </div>
                                <div *ngSwitchDefault>
                                    <button (click)="send(row)" mat-menu-item>
                                        <mat-icon>send</mat-icon>
                                        <span>Remitir tramite</span>
                                    </button>
                                    <button (click)="GenerateHojaRuta(row)" mat-menu-item>
                                        <mat-icon>print</mat-icon>
                                        <span>Hoja de ruta</span>
                                    </button>
                                    <button (click)="concluir(row)" mat-menu-item>
                                        <mat-icon>domain_verification</mat-icon>
                                        <span>Concluir tramite</span>
                                    </button>

                                </div>
                            </div>
                        </mat-menu>
                    </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row *matRowDef="let row; columns: displayedColumns;" class="example-element-row"
                    [ngClass]="{'mail_recibido': row.recibido===undefined}"
                    [class.example-expanded-row]="expandedElement === row"></tr>
            </table>

        </div>
        <app-paginator (page)="Get()" [pageSizeOptions]="[10, 20, 30, 50]"></app-paginator>
    </div>