.mail_recibido {
    background-color: #FE5F55;
}

.mail_recibido .mat-mdc-cell {
    color: white;
}

tr.mail_recibido:hover {
    background: #F4978E;
}

.mail_rechazado .mat-mdc-cell {
    background-color: #F6BD60;
    color: black;
}

.mail_recibido a {
    color: black;
}