.mail-pending {
    background-color: #FE5F55;
}

.mail-pending .mat-mdc-cell {
    color: white;
}

tr.mail-pending:hover {
    background: #F4978E;
}

.mail-reject {
    background-color: #F6BD60;
}

.mail-reject .mat-mdc-cell {
    color: black;
}

tr.mail-reject:hover {
    background: #FFE6A7;
}

.mail-pending a {
    color: black;
}

.mail-reject a {
    color: black;
}