<mat-card class="example-card">
    <mat-card-header *ngIf="Data.emisor.funcionario">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <strong>Recibido de:</strong> {{Data.emisor.funcionario|fullname}}</mat-card-title>
        <mat-card-subtitle>{{Data.emisor.funcionario.cargo|uppercase}}</mat-card-subtitle>
    </mat-card-header>
    <mat-card-header *ngIf="!Data.emisor.funcionario" style="color: red;">
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title> <strong>Recibido de:</strong> POR DESIGNAR</mat-card-title>
        <mat-card-subtitle> S / C</mat-card-subtitle>
    </mat-card-header>

    <mat-card-content>
        <p><strong>Dependencia: </strong> {{Data.emisor.dependencia.nombre}} /
            {{Data.emisor.dependencia.institucion.sigla}}</p>
        <p class="fst-italic">Instruccion / Proveido: {{Data.motivo}}</p>
        <p><strong>Cantidad: </strong> {{Data.cantidad}}</p>
    </mat-card-content>
</mat-card>