<app-toolbar title="REPORTES" [showPDF]="true" (pdf)="pdf()"></app-toolbar>
<div class="container-fluid" [@fadeInOnEnter]>
    <mat-card>
        <mat-card-content>
            <h2 class="example-h2">FICHA DE TRAMITE</h2>
            <mat-form-field class="example-full-width   ">
                <mat-label>Alterno: INTERNO / EXTERNO</mat-label>
                <input matInput type="text" [(ngModel)]="alterno">
            </mat-form-field>
        </mat-card-content>
        <mat-dialog-actions>
            <button mat-button (click)="generate()">Generar</button>
        </mat-dialog-actions>
    </mat-card>
    <div *ngIf="showResult" [@fadeInOnEnter]>
        <mat-tab-group mat-align-tabs="center">
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">info</mat-icon>
                    Informacion
                </ng-template>
                <app-info-tramite-externo *ngIf="tramiteExterno" [Tramite]="tramiteExterno"></app-info-tramite-externo>
                <app-info-tramite-interno *ngIf="tramiteInterno" [Tramite]="tramiteInterno"></app-info-tramite-interno>
            </mat-tab>
            <mat-tab>
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">push_pin</mat-icon>
                    Observaciones
                </ng-template>
                <div class="col-sm-12">
                    <!-- <div class="card shadow mb-2 bg-body-tertiary rounded">
                        <div class="card-header fw-bold">
                            OBSERVACIONES
                        </div>
                        <div class="card-body">
                            <app-observaciones [Options]="false" [Observaciones]="Tramite.observaciones"></app-observaciones>
                        </div>
                    </div> -->
                </div>
            </mat-tab>
            <mat-tab *ngIf="workflow.length>0">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">groups</mat-icon>
                    Flujo de trabajo
                </ng-template>
                <app-list-workflow [Workflow]="workflow"></app-list-workflow>
            </mat-tab>
            <mat-tab *ngIf="workflow.length>0">
                <ng-template mat-tab-label>
                    <mat-icon class="example-tab-icon">account_tree</mat-icon>
                    Flujo de trabajo grafico
                </ng-template>
                <app-graph-workflow [Workflow]="workflow"></app-graph-workflow>
            </mat-tab>
        </mat-tab-group>

    </div>

</div>