<mat-toolbar>
    <button (click)="regresar()" mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Tramite: Externo</span>
</mat-toolbar>
<div class="container-fluid" [@slideInLeftOnEnter]>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                Informacion
            </ng-template>
            <ng-container *ngIf="Tramite">
                <div class="card">
                    <h4 class="card-header fw-bold text-bg-secondary mb-3">INFORMACION TRAMITE
                    </h4>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-8">
                                <label class="form-label">Tipo de tramite</label>
                                <input class="form-control" type="text" value="{{Tramite.tipo_tramite.nombre}}" disabled
                                    readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Alterno</label>
                                <input class="form-control" type="text" value="{{Tramite.alterno}}" disabled readonly>
                            </div>
                            <div class="col-12">
                                <label class="form-label">Descripcion</label>
                                <div class="form-floating">
                                    <textarea class="form-control" value="{{Tramite.detalle}}" readonly></textarea>
                                </div>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Fecha registro</label>
                                <input class="form-control" type="text" value="{{Tramite.fecha_registro|date:'short'}}"
                                    disabled readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cantidad</label>
                                <input class="form-control" type="text" value="{{Tramite.cantidad}}" disabled readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Cite</label>
                                <input class="form-control" type="text" value="{{Tramite.cite}}" disabled readonly>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Estado</label>
                                <h2>
                                    <span class="badge" [ngClass]="[Tramite.estado|state]">
                                        {{Tramite.estado|uppercase}}
                                    </span>
                                </h2>
                            </div>
                            <div class="col-md-2">
                                <label class="form-label">Pin</label>
                                <input class="form-control" type="text" value="{{Tramite.pin}}" disabled readonly>
                            </div>
                            <div [ngSwitch]="Tramite.estado" class="col-md-4">
                                <div *ngSwitchCase="'CONCLUIDO'">
                                    <label class="form-label">Duracion proceso</label>
                                    <h2> {{count}}</h2>
                                </div>
                                <div *ngSwitchDefault>
                                    <label class="form-label">Tiempo transcurrido</label>
                                    <h2> <span class="badge text-bg-success">{{count}}</span></h2>
                                </div>
                            </div>
                            <div class="col-md-12">
                                <label class="form-label">Ubicacion</label>
                                <div class="card border-primary mb-3">
                                    <div class="card-body">
                                        <h4 class="card-title fw-bold">{{Tramite.ubicacion.funcionario|fullname}} -
                                            {{Tramite.ubicacion.funcionario.cargo|uppercase}}</h4>
                                        <p class="card-text">{{Tramite.ubicacion.dependencia.nombre}} -
                                            {{Tramite.ubicacion.dependencia.institucion.sigla}}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-12" *ngIf="Tramite.detalle_conclusion">
                                <label class="form-label">Referencia concluido</label>
                                <textarea class="form-control" value="{{Tramite.detalle_conclusion}}" readonly></textarea>
                            </div>
                        </form>
                    </div>
                </div>
                <br>
                <div class="card">
                    <h4 class="card-header fw-bold text-bg-secondary mb-3">SOLICITANTE: {{Tramite.solicitante.tipo}}
                    </h4>
                    <div class="card-body">
                        <div [ngSwitch]="Tramite.solicitante.tipo">
                            <div *ngSwitchCase="'NATURAL'">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" type="text"
                                            value="{{Tramite.solicitante.nombre}} {{Tramite.solicitante.paterno}} {{Tramite.solicitante.materno}}"
                                            disabled readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Documento</label>
                                        <input class="form-control" type="text"
                                            value="{{Tramite.solicitante.documento}}" disabled readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Dni</label>
                                        <input class="form-control" type="text" value="{{Tramite.solicitante.dni}}"
                                            disabled readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Expedido</label>
                                        <input class="form-control" type="text" value="{{Tramite.solicitante.expedido}}"
                                            disabled readonly>
                                    </div>
                                    <div class="col-md-4">
                                        <label class="form-label">Telefono</label>
                                        <input class="form-control" type="text" value="{{Tramite.solicitante.telefono}}"
                                            disabled readonly>
                                    </div>
                                </form>
                            </div>
                            <div *ngSwitchCase="'JURIDICO'">
                                <form class="row g-3">
                                    <div class="col-md-6">
                                        <label class="form-label">Nombre</label>
                                        <input class="form-control" type="text" value="{{Tramite.solicitante.nombre}}"
                                            disabled readonly>
                                    </div>
                                    <div class="col-md-6">
                                        <label class="form-label">Telefono</label>
                                        <input class="form-control" type="text" value="{{Tramite.solicitante.telefono}}"
                                            disabled readonly>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <br>
                <div class="card" *ngIf="Tramite.representante">
                    <h4 class="card-header fw-bold text-bg-secondary mb-3">REPRESENTANTE</h4>
                    <div class="card-body">
                        <form class="row g-3">
                            <div class="col-md-6">
                                <label class="form-label">Nombre</label>
                                <input class="form-control" type="text"
                                    value="{{Tramite.representante.nombre}} {{Tramite.representante.paterno}} {{Tramite.representante.materno}}"
                                    disabled readonly>
                            </div>
                            <div class="col-md-6">
                                <label class="form-label">Documento</label>
                                <input class="form-control" type="text" value="{{Tramite.representante.documento}}"
                                    disabled readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Dni</label>
                                <input class="form-control" type="text" value="{{Tramite.representante.dni}}" disabled
                                    readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Expedido</label>
                                <input class="form-control" type="text" value="{{Tramite.representante.expedido}}"
                                    disabled readonly>
                            </div>
                            <div class="col-md-4">
                                <label class="form-label">Telefono</label>
                                <input class="form-control" type="text" value="{{Tramite.representante.telefono}}"
                                    disabled readonly>
                            </div>
                        </form>
                    </div>
                    <br>
                </div>
                <div class="card">
                    <h4 class="card-header fw-bold text-bg-secondary mb-3">OBSERVACIONES</h4>
                    <div class="card-body">
                        <app-observaciones [Options]="false"
                            [Observaciones]="Tramite.observaciones"></app-observaciones>
                    </div>
                </div>
                <br>
                <div class="card">
                    <h4 class="card-header fw-bold text-bg-secondary mb-3">REQUERIMIENTOS PRESENTADOS</h4>
                    <div class="card-body">
                        <div [ngSwitch]="Tramite.requerimientos.length">
                            <div *ngSwitchCase="0">
                                <div class="alert alert-primary" role="alert">
                                    No se presentaron requerimientos
                                </div>
                            </div>
                            <div *ngSwitchDefault>
                                <ol class="list-group list-group-numbered">
                                    <li class="list-group-item" *ngFor="let requerimiento of Tramite.requerimientos">
                                        {{requerimiento}}
                                    </li>
                                </ol>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-container>
        </mat-tab>
        <mat-tab *ngIf="Workflow.length!==0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">groups</mat-icon>
                Flujo de trabajo
            </ng-template>
            <app-list-workflow [Workflow]="Workflow"
                [fecha_registro]="Tramite.fecha_registro"></app-list-workflow>
        </mat-tab>
        <mat-tab *ngIf="Workflow.length!==0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">account_tree</mat-icon>
                Flujo de trabajo grafico
            </ng-template>
            <app-graph-workflow [Workflow]="Workflow"></app-graph-workflow>
        </mat-tab>
    </mat-tab-group>
</div>