<mat-toolbar>
    <button (click)="regresar()" mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Tramite: Externo</span>
</mat-toolbar>
<div [@slideInLeftOnEnter]>
    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">info</mat-icon>
                Informacion
            </ng-template>
            <app-info-tramite-externo *ngIf="Tramite" [Tramite]="Tramite"></app-info-tramite-externo>
        </mat-tab>
        <mat-tab *ngIf="Workflow.length!==0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">groups</mat-icon>
                Flujo de trabajo
            </ng-template>
            <app-list-workflow [Workflow]="Workflow"
                [fecha_registro]="Tramite.fecha_registro"></app-list-workflow>
        </mat-tab>
        <mat-tab *ngIf="Workflow.length!==0">
            <ng-template mat-tab-label>
                <mat-icon class="example-tab-icon">account_tree</mat-icon>
                Flujo de trabajo grafico
            </ng-template>
            <app-graph-workflow [Workflow]="Workflow"></app-graph-workflow>
        </mat-tab>
    </mat-tab-group>
</div>