<p>
    <mat-toolbar>
        <span>Reporte por tipo de tramite</span>
    </mat-toolbar>
</p>
<div class="container-fluid">
    <form [formGroup]="FormReporte">
        <div class="row">
            <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Seleccione la institucion</mat-label>
                    <mat-select formControlName="institucion">
                        <mat-option *ngFor="let institucion of instituciones" [value]="institucion.id_institucion">
                            {{institucion.nombre|uppercase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-6">
                <mat-form-field class="example-full-width" appearance="fill">
                    <mat-label>Seleccione el segmento de tramite</mat-label>
                    <mat-select formControlName="tipo_tramite">
                        <mat-option (onSelectionChange)="nombre_tramite=tipo.nombre" *ngFor="let tipo of tipos_tramites"
                            [value]="tipo.id_tipoTramite">
                            {{tipo.nombre|uppercase}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>
            </div>

        </div>
        <div class="row justify-content-md-center">
            <div class="col col-lg-4">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha inicial</mat-label>
                    <input formControlName="fecha_inicial" matInput [matDatepicker]="picker">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                    <mat-datepicker #picker></mat-datepicker>
                </mat-form-field>
            </div>
            <div class="col col-lg-4">
                <mat-form-field appearance="fill">
                    <mat-label>Fecha final</mat-label>
                    <input formControlName="fecha_final" matInput [matDatepicker]="picker2">
                    <mat-hint>MM/DD/YYYY</mat-hint>
                    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
                    <mat-datepicker #picker2></mat-datepicker>
                </mat-form-field>
            </div>
        </div>
    </form>
    <br>
    <div class="row justify-content-md-center">
        <div class="col-1">
            <button [disabled]="FormReporte.invalid" (click)="generarReporte()" mat-raised-button
                color="primary">Generar</button>
        </div>
    </div>
</div>