<h2 class="fw-bold">Notificaciones</h2>
<div>
    <ng-container *ngIf="notificationService.list.length===0">
        <div class="alert alert-primary" role="alert">
            Usted no tiene notificaciones
        </div>
    </ng-container>
    <ng-container *ngIf="notificationService.list.length>0">
        <mat-list>
            <mat-list-item *ngFor="let notify of (list|async)">
                <mat-icon mat-list-icon>campaign</mat-icon>
                <h3 matLine> {{notify.text}} </h3>
            </mat-list-item>
            <mat-divider></mat-divider>
        </mat-list>
    </ng-container>
</div>