

/* Structure */
.example-container {
    position: relative;
}

.example-table-container {
    position: relative;
    max-height: 70vh;
    overflow: auto;
}

.badge {
    font-size: 9px;
}


.mat-mdc-cell {
    font-size: 11px;

}

/* Control de tabla expandible */
tr.example-detail-row {
    height: 0;
}

tr.example-element-row:not(.example-expanded-row):hover {
    background: whitesmoke;
}

tr.example-element-row:not(.example-expanded-row):active {
    background: #efefef;
}

.example-element-row td {
    border-bottom-width: 0;
}

.example-element-detail {
    overflow: hidden;
    display: flex;
}

/* Columns widths */
.mat-column-expand,
.mat-column-opciones {
    /* width: 50px;
    border-right: 1px solid currentColor;
    padding-right: 24px; */

    width: 32px;
    border-left: 1px solid;
    text-align: center;
}

td.mat-column-alterno {
    width: 170px;
}
