<h2 mat-dialog-title>Edicion cuenta</h2>
<mat-dialog-content>
    <div class="container-fluid px-4 mt-4">
        <div class="row">
            <div class="col-xl-5">
                <div class="card">
                    <div class="card-header">Detalles funcionario</div>
                    <div class="card-body">
                        <h3 class="card-title fw-bold">{{data.funcionario!|fullname|titlecase}} -
                            {{data.funcionario!.dni}}</h3>
                        <h5 class="card-subtitle mb-2 text-body-secondary">{{data.funcionario!.cargo|uppercase}}</h5>
                    </div>
                    <ul *ngIf="Operations" class="list-group list-group-flush">
                        <li class="list-group-item">TOTAL EXTERNOS: {{Operations.externos}}
                        </li>
                        <li class="list-group-item">TOTAL INTERNOS: {{Operations.internos}}
                        </li>
                        <li  class="list-group-item">TOTAL ENTRADA: {{Operations.entrada}}
                        </li>
                        <li class="list-group-item">TOTAL SALIDA: {{Operations.salida}}</li>
                    </ul>
                    <div class="card-footer example-button-row" align="center">
                        <button mat-stroked-button color="warn" (click)="kickUser()"
                            [disabled]="!data.funcionario">Quitar</button>
                        <button mat-stroked-button color="primary" (click)="changeUser()">Cambiar</button>
                    </div>
                </div>
                <div class="row g-0 text-center" *ngIf="show_selectUser">
                    <mat-form-field appearance="fill" class="example-full-width">
                        <mat-select [formControl]="userCtrl" placeholder="Nombre / Cargo / Dni" #singleSelect
                            (selectionChange)="selectUserAssign($event.value)">
                            <mat-option>
                                <ngx-mat-select-search [formControl]="userFilterCtrl"></ngx-mat-select-search>
                            </mat-option>

                            <mat-option class="multiline-mat-option" *ngFor="let user of filteredUsers | async"
                                [value]="user">
                                {{user|fullname|titlecase}}
                            </mat-option>

                        </mat-select>
                        <button (click)="cancelChangeUser()" matSuffix mat-icon-button aria-label="Clear">
                            <mat-icon>close</mat-icon>
                        </button>
                    </mat-form-field>
                </div>
            </div>
            <div class="col-xl-7">
                <div class="card mb-4">
                    <div class="card-header">Detalles cuenta</div>
                    <div class="card-body">
                        <div class="row gx-3 mb-3">
                            <form [formGroup]="Form_Roles">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h4>Administracion de tramites</h4>
                                        <p><mat-checkbox formControlName="EXTERNOS">Administracion
                                                externos</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="INTERNOS">Administracion
                                                internos</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="BANDEJAS">Administracion
                                                bandejas</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="REPORTES">Generacion de
                                                reportes</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="BUSQUEDAS">Busquedas avanzadas</mat-checkbox>
                                        </p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h4>Administracion de procedimientos</h4>
                                        <p><mat-checkbox formControlName="USUARIOS">Administracion de
                                                usuarios</mat-checkbox>
                                        </p>
                                        <p><mat-checkbox formControlName="CUENTAS">Administracion de
                                                cuentas</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="INSTITUCIONES">Administracion de
                                                instituciones</mat-checkbox></p>
                                        <p><mat-checkbox formControlName="DEPENDENCIAS">Administracion de
                                                dependencias</mat-checkbox></p>
                                    </div>
                                </div>

                            </form>
                        </div>
                        <form [formGroup]="Form_Cuenta">
                            <div class="row gx-3 mb-3">
                                <div class="col-md-6">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Login</mat-label>
                                        <input formControlName="login" matInput>
                                    </mat-form-field>

                                </div>
                                <div class="col-md-6" *ngIf="cambiar_password">
                                    <mat-form-field class="example-full-width" appearance="fill">
                                        <mat-label>Password</mat-label>
                                        <input formControlName="password" matInput>
                                    </mat-form-field>
                                </div>
                                <div class="col-md-6">
                                   
                                </div>
                            </div>
                        </form>
                        <hr>
                        <mat-checkbox [checked]="cambiar_password" (change)='changeForm($event.checked)'
                            class="example-margin">
                            Actualizar password
                        </mat-checkbox>
                    </div>
                </div>
            </div>
        </div>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close [disabled]="lock_cancel">Cancelar</button>
    <button mat-raised-button color="primary" (click)="save()">Guardar</button>
</mat-dialog-actions>