<p>
    <mat-toolbar color="primary">
        <button (click)="back()" mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span>MI CUENTA</span>
    </mat-toolbar>
</p>
<div [@fadeInOnEnter] class="container-fluid" *ngIf="Account">
    <div class="row">
        <div class="col-sm-3">
            <div class="text-center">
                <img src="../../../assets/img/account.png" class="avatar img-circle img-thumbnail" alt="avatar">
            </div>
        </div>
        <div class="col-sm-9 personal-info">
            <h2>DETALLES FUNCIONARIO</h2>
            <form class="row g-3">
                <div class="col-md-8">
                    <label class="form-label">Dependencia</label>
                    <input disabled type="text" class="form-control" [value]="Account.dependencia.nombre">
                </div>
                <div class="col-md-4">
                    <label class="form-label">Institucion</label>
                    <input disabled type="text" class="form-control" [value]="Account.dependencia.institucion.nombre">
                </div>
                <div class="col-12">
                    <label class="form-label">Cargo</label>
                    <input disabled type="text" class="form-control" [value]="Account.funcionario.cargo">
                </div>
                <div class="col-md-6">
                    <label class="form-label">Funcinario</label>
                    <input disabled type="text" [value]="Account.funcionario|fullname" class="form-control">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Dni</label>
                    <input disabled type="text" [value]="Account.funcionario.dni" class="form-control">
                </div>
                <div class="col-md-3">
                    <label class="form-label">Telefono</label>
                    <input disabled type="text" [value]="Account.funcionario.telefono" class="form-control">
                </div>
                <hr>
            </form>
            <h2>DETALLES CUENTA</h2>
            <mat-checkbox [checked]="changePassword" (change)="changeForm($event.checked)" class="example-margin">
                Actualizar nombre de usuario y contraseña
            </mat-checkbox>
            <form [formGroup]="Form_Cuenta">
                <div class="card mb-3">
                    <div class="card-body">
                        <div class="row mb-2">
                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width">
                                    <mat-label>Nombre de usuario</mat-label>
                                    <input formControlName="login" matInput>
                                    <mat-error *ngIf="Form_Cuenta.get('login')?.invalid">{{getErrorMessageLoginField()}}</mat-error>
                                </mat-form-field>
                            </div>
                            <div class="col-sm-4">
                                <mat-form-field class="example-full-width" *ngIf="changePassword" appearance="fill">
                                    <mat-label>Contraseña</mat-label>
                                    <input formControlName="password" matInput [type]="hide ? 'password' : 'text'">
                                    <mat-error *ngIf="Form_Cuenta.get('password')?.invalid">{{getErrorMessagePasswordField()}}</mat-error>
                                    <button mat-icon-button matSuffix (click)="hide = !hide"
                                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                                        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                                    </button>
                                </mat-form-field>
                            </div>
                        </div>
                        <button mat-raised-button [disabled]="Form_Cuenta.invalid" color="primary" (click)="save()">Guardar</button>
                    </div>
                </div>
            </form>

        </div>
    </div>
</div>