<div class="container-fluid">
    <div class="row">
        <mat-radio-group [(ngModel)]="filter" (change)="filterObservation()" aria-label="Select an option">
            <mat-radio-button [value]="false">Todas</mat-radio-button>
            <mat-radio-button [value]="true">Mis observaciones</mat-radio-button>
          </mat-radio-group>
    </div>
    <div>
        <div class="list-group">
            <a *ngFor="let item of filterObservation()" class="list-group-item list-group-item-action flex-column align-items-start">
              <div class="d-flex w-100 justify-content-between">
                  <h5 class="mb-1">{{item.officer|fullname}}</h5>
                  <small>{{item.date|date:'short':'-400'}}</small>
              </div>
              <p class="mb-1">{{item.description}}</p>
              <small>Situacion: <strong [ngClass]="item.solved?'solved-item ':'pending-item '">{{item.solved?'Corregido':'Sin corregir'}}</strong> </small>
              <button *ngIf="authService.account.id_cuenta===item.account" matTooltip="Marcar como corregido" [disabled]="item.solved" (click)="markAsSolved(item)" mat-icon-button style="vertical-align: middle;">
                <mat-icon>build_circle</mat-icon>
              </button>
            </a>
          </div>
    </div>
</div>
