<div>
    <mat-list>
        <mat-list-item *ngFor="let flujo of Workflow">
            <mat-icon mat-list-icon>outgoing_mail</mat-icon>
            <div mat-line>{{flujo.emisor.funcionario|titlecase}} ({{flujo.emisor.cargo|uppercase}}) <mat-icon class="arrow">arrow_forward</mat-icon>  {{flujo.receptor.funcionario|titlecase}} ({{flujo.receptor.cargo|uppercase}})</div>
            <div mat-line>Motivo: {{flujo.motivo}}</div>
            <div mat-line>
                <div class="row">
                    <div class="col">
                        Fecha envio:{{flujo.fecha_envio|date:'short'}}
                    </div>
                    <div class="col">
                        Fecha recibido:{{flujo.fecha_recibido|date:'short'}}
                    </div>

                </div>
            </div>
            <div mat-line>Tiempo revision: {{flujo.duracion}}</div>
            <div mat-line>Tiempo aceptacion: {{flujo.respuesta}}</div>
        </mat-list-item>
        <mat-divider></mat-divider>

    </mat-list>

</div>