<div class="container-fluid">
  <div class="row" *ngFor="let item of ListWorflow">
    <div class="col-sm-5 align-middle">
      <div class="card">
        <div class="card-body">
          <h2 class="card-title">{{item.officer.fullname|titlecase}}</h2>
          <h4 class="card-subtitle mb-2 text-muted">{{item.officer.jobtitle}}</h4>
        </div>
      </div>
    </div>
    <div class="col-sm-7" >
      <div class="row" *ngFor="let subitem of item.sends">
        <div class="card">
          <div class="card-body">
            <h2 class="card-title">{{subitem.officer.fullname|titlecase}}</h2>
            <h4 class="card-subtitle mb-2 text-muted">{{subitem.officer.jobtitle}}</h4>
        </div>
      </div>
    </div>
    <br>
  </div>
</div>