<app-toolbar title="INTERNOS" [showAdd]="true" (add)="Add()"></app-toolbar>
<div class="container-fluid animate__animated animate__fadeIn">
  <app-input-search-procedures
    (searchEvent)="getData()"
    placeholder="Alterno / Referencia / Destinatario"
  ></app-input-search-procedures>
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="alterno">
          <th mat-header-cell *matHeaderCellDef>Alterno</th>
          <td mat-cell *matCellDef="let element">
            <a (click)="showDetails(element)">
              {{ element.code }}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="detalle">
          <th mat-header-cell *matHeaderCellDef>Referencia</th>
          <td mat-cell *matCellDef="let element">
            {{ element.reference | uppercase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="solicitante">
          <th mat-header-cell *matHeaderCellDef>Solicitante</th>
          <td mat-cell *matCellDef="let element">
            {{ element.details.remitente.nombre | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="destinatario">
          <th mat-header-cell *matHeaderCellDef>Destinatario</th>
          <td mat-cell *matCellDef="let element">
            {{ element.details.destinatario.nombre | titlecase }}
          </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef>Estado</th>
          <td mat-cell *matCellDef="let element">
            <span class="badge" [ngClass]="element.state | state">
              {{ element.state | uppercase }}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="cite">
          <th mat-header-cell *matHeaderCellDef>Cite</th>
          <td mat-cell *matCellDef="let element">
            {{ element.cite !== "" ? element.cite : "S / C" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="fecha">
          <th mat-header-cell *matHeaderCellDef>Fecha</th>
          <td mat-cell *matCellDef="let element">
            {{ element.startDate | date : "short" }}
          </td>
        </ng-container>
        <ng-container matColumnDef="enviado">
          <th mat-header-cell *matHeaderCellDef>Enviado</th>
          <td mat-cell *matCellDef="let element">
            <mat-icon [ngClass]="element.send ? 'send' : 'pending'">{{
              element.send ? "mark_email_read" : "unsubscribe"
            }}</mat-icon>
          </td>
        </ng-container>
        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef></th>
          <td mat-cell *matCellDef="let row">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
              <button mat-menu-item [disabled]="row.state !== 'INSCRITO'" (click)="Edit(row)">
                <mat-icon>edit</mat-icon>
                <span>Editar tramite</span>
              </button>
              <button mat-menu-item [disabled]="row.state !== 'INSCRITO' || row.send" (click)="Send(row)">
                <mat-icon>send</mat-icon>
                <span>Remitir tramite</span>
              </button>
              <button mat-menu-item [disabled]="row.state !== 'INSCRITO' || row.send" (click)="conclude(row)">
                <mat-icon>domain_verification</mat-icon>
                <span>Concluir tramite</span>
              </button>
              <button mat-menu-item (click)="generateRouteMap(row._id, row.group)">
                <mat-icon>feed</mat-icon>
                <span>Hoja de ruta</span>
              </button>
            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>
    </div>
    <app-paginator (page)="getData()" [pageSizeOptions]="[10, 20, 30, 50]"></app-paginator>
  </div>
</div>
