<p>
    <mat-toolbar color="primary">
        <button (click)="back()" mat-icon-button>
            <mat-icon>arrow_back</mat-icon>
        </button>
        <span *ngIf="Tramite">{{Tramite.alterno}}</span>
        <span class="example-spacer"></span>
        <button (click)="observar()" matTooltip="Agregar observacion" mat-icon-button>
            <mat-icon>push_pin</mat-icon>
        </button>
        <button (click)="generar()" matTooltip="Generar PDF" mat-icon-button>
            <mat-icon>picture_as_pdf</mat-icon>
        </button>
    </mat-toolbar>
</p>


<div class="container-fluid" *ngIf="Tramite" [@slideInLeftOnEnter]>
    <app-mail-header *ngIf="imbox" [Data]="imbox"></app-mail-header>

    <mat-tab-group mat-align-tabs="center">
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">info</mat-icon>
                Informacion
            </ng-template>
            <app-info-tramite-externo *ngIf="tipo==='tramites_externos' && Tramite"
                [Tramite]="Tramite"></app-info-tramite-externo>
            <app-info-tramite-interno *ngIf="tipo==='tramites_internos'&& Tramite"
                [Tramite]="Tramite"></app-info-tramite-interno>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">push_pin</mat-icon>
                Observaciones
            </ng-template>
            <app-observaciones [Options]="true" [Observaciones]="Observaciones"></app-observaciones>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">groups</mat-icon>
                Flujo de trabajo
            </ng-template>
            <app-list-workflow *ngIf="Workflow && Tramite" [Workflow]="Workflow"
                [fecha_registro]="Tramite.fecha_registro"></app-list-workflow>
        </mat-tab>
        <mat-tab>
            <ng-template mat-tab-label>
                <mat-icon class="tab-icon">account_tree</mat-icon>
                Flujo de trabajo grafico
            </ng-template>
            <app-graph-workflow *ngIf="Workflow && Tramite" [Workflow]="Workflow"></app-graph-workflow>
        </mat-tab>
    </mat-tab-group>
</div>