<h2 mat-dialog-title>{{data?'EDICION':'CREACION'}} TIPO DE TRAMITE</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="Form_TipoTramite">
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre del tramite</mat-label>
                    <input formControlName="nombre" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-2">
                <mat-form-field class="example-full-width">
                    <mat-label>Segmento</mat-label>
                    <input formControlName="segmento" matInput [matAutocomplete]="auto">
                    <mat-icon matSuffix>warning</mat-icon>
                    <mat-autocomplete #auto="matAutocomplete">
                        <mat-option *ngFor="let segment of filteredSegments | async" [value]="segment">
                            {{segment}}
                        </mat-option>
                    </mat-autocomplete>
                </mat-form-field>
            </div>
            <div *ngIf="!data" class="col-sm-2">
                <mat-form-field appearance="fill">
                    <mat-label>Grupo </mat-label>
                    <mat-select (selectionChange)="selectGroupProcedure($event.value)" formControlName="tipo">
                        <mat-option value="EXTERNO">EXTERNO</mat-option>
                        <mat-option value="INTERNO">INTERNO</mat-option>
                    </mat-select>
                </mat-form-field>
            </div>
            <div class="col-1">
                <button [disabled]="denieRequirements" matTooltip="Cargar" (click)="loadExcelFile()" mat-icon-button>
                    <mat-icon>upload_file</mat-icon>
                </button>
            </div>
            <div class="col-1">
                <button [disabled]="denieRequirements" matTooltip="Agregar" (click)="addRequeriment()" mat-icon-button>
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <div *ngIf="dataSource.length===0;else templateTable" class="alert alert-warning" role="alert">
                    EL TRAMITE NO TIENE REQUERIMIENTOS
                </div>
                <ng-template #templateTable>
                    <table class="table text-reset table-bordered align-middle text-center table-wrapper">
                        <thead>
                            <tr>
                                <th scope="col">Requerimientos</th>
                                <th scope="col" style="width: 20%">Situacion</th>
                                <th scope="col" style="width: 15%"></th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let requeriment of dataSource; let i=index">
                                <td> {{requeriment.nombre}} </td>
                                <td> <span [ngClass]="requeriment.activo?'c-pill--success':'c-pill--danger'"
                                        class="c-pill">{{requeriment.activo?'HABILITADO':'NO HABILITADO'}} </span> </td>
                                <td>
                                    <button (click)="editRequeriment(i, requeriment)" mat-icon-button
                                        aria-label="edit one requirement">
                                        <mat-icon>edit</mat-icon>
                                    </button>
                                    <button (click)="deleteRequiremet(i)" mat-icon-button
                                        aria-label="delete one requirement">
                                        <mat-icon>delete</mat-icon>
                                    </button>
                                    <button (click)="removeRequeriment(i)" mat-icon-button
                                        aria-label="disable one requirement">
                                        <mat-icon>disabled_by_default</mat-icon>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </ng-template>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-flat-button mat-dialog-close color="warn">Cancelar</button>
    <button mat-flat-button color="primary" [disabled]="Form_TipoTramite.invalid" (click)="save()">Guardar</button>
</mat-dialog-actions>