<form [formGroup]="options">
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="DNI" formControlName="dni">
                <mat-error *ngIf="options.get('dni')?.invalid">{{getErrorDniMessage()}}</mat-error>
            </mat-form-field>

        </div>
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="telefono" formControlName="dni">
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Nombre" formControlName="nombre">
                <mat-error *ngIf="options.get('nombre')?.invalid">Ingrese al menos 3
                    caracteres</mat-error>
            </mat-form-field>
        </div>
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellido paterno" formControlName="paterno">
                <mat-error *ngIf="options.get('paterno')?.invalid">Ingrese al menos 3
                    caracteres</mat-error>
            </mat-form-field>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-6">
            <mat-form-field class="example-full-width">
                <input matInput placeholder="Apellido materno" formControlName="paterno">
                <mat-error *ngIf="options.get('materno')?.invalid">Ingrese al menos 3
                    caracteres</mat-error>
            </mat-form-field>
        </div>
    </div>
    <button [disabled]="options.invalid" (click)="getReporteSolicitante()" mat-raised-button
        color="primary">Generar</button>
</form>