<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
      <div class="card-user d-flex align-items-start">
        <img class="rounded-circle avatar-lg img-thumbnail" src="../../../assets/img/account.png" />
        <div class="ms-2">
          <p class="mb-1">{{ currentUser?.officer?.fullname | slice : 0 : 18 | titlecase }}.</p>
          <span class="c-pill c-pill--success">En linea</span>
        </div>
        <div class="ms-auto">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item routerLink="configuraciones/sistema">
              <mat-icon>dialpad</mat-icon>
              <span>Configuraciones</span>
            </button>
            <button mat-menu-item disabled>
              <mat-icon>voicemail</mat-icon>
              <span>Check voice mail</span>
            </button>
            <button mat-menu-item (click)="logout()">
              <mat-icon>logout</mat-icon>
              <span>Cerrar sesion</span>
            </button>
          </mat-menu>
        </div>
      </div>
      <mat-nav-list>
        @for (item of navigation; track $index) { @if(item.children){
        <mat-expansion-panel [expanded]="true" [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon matListItemIcon style="margin-right: 30px"> {{ item.icon }}</mat-icon>
            <span style="font-size: 16px">{{ item.text }}</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item
              *ngFor="let submenu of item.children"
              [routerLink]="submenu.routerLink"
              routerLinkActive="active-link"
            >
              <mat-icon matListItemIcon>{{ submenu.icon }}</mat-icon>
              <span matListItemTitle>{{ submenu.text }}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        } @else {
        <mat-list-item [routerLink]="item.routerLink" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ item.icon }}</mat-icon>
          <span matListItemTitle>{{ item.text }}</span>
        </mat-list-item>
        } }
      </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content>
      @if (isLoaging) {
      <progress-spinner></progress-spinner>
      }
      <pre>
        {{ cache | json }}
      </pre>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
