<div class="main-container" [class.is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches">
      <!-- <mat-card class="card-profile footer">
        <mat-card-header>
          <div mat-card-avatar class="card-profile-image"></div>
          <mat-card-title>{{ authService.account.officer.fullname | titlecase | slice : 0 : 25 }} </mat-card-title>
          <mat-card-subtitle>{{ authService.account.officer.jobtitle | slice : 0 : 25 }}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button routerLink="/home/recursos" mat-menu-item>
              <mat-icon>dataset</mat-icon>
              <span>Recursos</span>
            </button>

            <button routerLink="/configuraciones/sistema" mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              <span>Configuraciones</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Cerrar sesion</span>
            </button>
          </mat-menu>
        </mat-card-header>
      </mat-card> -->
      <mat-nav-list>
        <ng-container *ngFor="let menu of Menu">
          <ng-container
            [ngTemplateOutlet]="menu.children ? childMenu : parentMenu"
            [ngTemplateOutletContext]="{ menu: menu }"
          >
          </ng-container>
        </ng-container>
      </mat-nav-list>

      <ng-template #parentMenu let-menu="menu">
        <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="active-link">
          <mat-icon matListItemIcon>{{ menu.icon }}</mat-icon>
          <span matListItemTitle>{{ menu.text }}</span>
        </mat-list-item>
      </ng-template>

      <ng-template #childMenu let-menu="menu">
        <mat-expansion-panel [expanded]="true" [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon matListItemIcon style="margin-right: 30px"> {{ menu.icon }}</mat-icon>
            <span style="font-size: 16px">{{ menu.text }}</span>
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item
              *ngFor="let submenu of menu.children"
              [routerLink]="submenu.routerLink"
              routerLinkActive="active-link"
            >
              <mat-icon matListItemIcon>{{ submenu.icon }}</mat-icon>
              <span matListItemTitle>{{ submenu.text }}</span>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-template>
    </mat-sidenav>

    <mat-sidenav-content>
      @if (isLoaging) {
      <progress-spinner></progress-spinner>
      }
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
