
td.mat-column-alterno {
    width: 200px;
}

td.mat-column-tramite {
    width: 240px;
    font-weight: bold;
}

td.mat-column-descripcion {
    width: 300px;
    /* font-size: 8px; */
    padding-right: 20px;
}

td.mat-column-estado {
    width: 100px;
}

td.mat-column-solicitante {
    width: 200px;
}

td.mat-column-fecha_registro {
    width: 100px;
}

td.mat-column-enviado {
    width: 50px;
    text-align: center;
}
.mat-cell {
    font-size: 12px;
    padding-right: 20px
}
