<h2 mat-dialog-title>Detalles movilidad</h2>
<mat-dialog-content>
    <div class="list-group">
        <a *ngFor="let detalle of Detalles" class="list-group-item list-group-item-action flex-column align-items-start">
          <div class="d-flex w-100 justify-content-between">
            <strong class="mb-1">Evento</strong>
            <small>{{detalle.fecha|date:"short"}}</small>
          </div>
          <p class="mb-1">{{detalle.descripcion}}</p>

        </a>
       
      </div>
    <div *ngIf="Detalles.length==0" class="alert alert-primary" role="alert">
        Sin registros
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Cerrar</button>
</mat-dialog-actions>