<div class="container-fluid">
    <mat-list>
        <mat-list-item *ngFor="let user of socketService.OnlineUsers">
            <img matListAvatar src="../../../assets/img/account.png" alt="...">
            <p class="fw-bold" matLine>{{user.fullname | titlecase}} </p>
            <p matLine>
                <small>{{user.jobtitle|uppercase}}</small>
            </p>
            <p matLine>
                <small>Sesiones abiertas: {{user.socketIds.length}}</small>
            </p>
            <div>
                <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
                    <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu">
                    <button (click)="sendNotificacion(user)" mat-menu-item>
                        <mat-icon>dialpad</mat-icon>
                        <span>Redial</span>
                    </button>
                    <button (click)="kickUser(user)" mat-menu-item>
                        <mat-icon>voicemail</mat-icon>
                        <span>Check voice mail</span>
                    </button>
                    <button mat-menu-item>
                        <mat-icon>notifications_off</mat-icon>
                        <span>Disable alerts</span>
                    </button>
                </mat-menu> 
            </div>
            <mat-divider></mat-divider>
        </mat-list-item>
    </mat-list>

</div>