<app-toolbar title="BUSQUEDA"></app-toolbar>
<div class="container-fluid" [@fadeInOnEnter]>
  <mat-card>
    <mat-card-header>
      <mat-card-title>Grupo de tramites:</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <mat-radio-group [(ngModel)]="groupProcedure" (change)="selectGroupProcedure($event.value)">
        <mat-radio-button value="tramites_externos">EXTERNOS</mat-radio-button>
        <mat-radio-button value="tramites_internos">INTERNOS</mat-radio-button>
      </mat-radio-group>
      <form [formGroup]="searchForm">
        <mat-accordion class="example-headers-align" multi>
          <mat-expansion-panel (opened)="true">
            <mat-expansion-panel-header>
              <mat-panel-title>
                PARAMETROS BASICOS
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-3">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Alterno</mat-label>
                  <input matInput formControlName="alterno">
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Cite</mat-label>
                  <input matInput formControlName="cite">
                </mat-form-field>
              </div>
              <div class="col-sm-6">
                <mat-form-field class="example-full-width">
                  <mat-label>Referencia</mat-label>
                  <textarea matInput formControlName="detalle" placeholder="Ingrese una referencia"></textarea>
                </mat-form-field>
              </div>
            </div>

          </mat-expansion-panel>

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                PARAMETROS POR TIPO
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-7">
                <app-simple-mat-select-search [pathPropertyOfObjectDisplay]="'nombre'"
                  (eventSelectedOption)="selectTypeProcedure($event)" [placehorder]="'Buscar tipo'"
                  [data]="typesProcedures" [isRequired]="false"></app-simple-mat-select-search>
              </div>
              <div class="col-sm-2">
                <mat-form-field appearance="fill">
                  <mat-label>Estado</mat-label>
                  <mat-select formControlName="estado">
                    <mat-option *ngFor="let state of states" [value]="state">{{state}}</mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-3">
                <mat-form-field appearance="fill">
                  <mat-label>Ingrese un rango</mat-label>
                  <mat-date-range-input [rangePicker]="picker">
                    <input matStartDate formControlName="start" placeholder="Fecha inicial">
                    <input matEndDate formControlName="end" placeholder="Fecha final">
                  </mat-date-range-input>
                  <mat-hint>MM/DD/YYYY – MM/DD/YYYY</mat-hint>
                  <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
                  <mat-date-range-picker #picker></mat-date-range-picker>
                  <mat-error *ngIf="searchForm.get('start')?.hasError('matStartDateInvalid')">Rango invalido</mat-error>
                  <mat-error *ngIf="searchForm.get('end')?.hasError('matEndDateInvalid')">Rango invalido</mat-error>
                </mat-form-field>
              </div>
            </div>
          </mat-expansion-panel>
          <!-- <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                PARAMETROS UNIDAD
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <div class="col-sm-4">
                <mat-form-field appearance="fill" class="example-full-width">
                  <mat-label>Seleccione la institucion</mat-label>
                  <mat-select formControlName="institucion" (selectionChange)="selectInstitution($event.value)">
                    <mat-option *ngFor="let inst of institutions" [value]="inst.id_institucion">
                      {{inst.nombre}}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
              <div class="col-sm-4">
                <app-simple-mat-select-search [pathPropertyOfObjectDisplay]="'nombre'"
                  (eventSelectedOption)="selectDependencia($event.value)" [placehorder]="'Buscar dependencias'"
                  [data]="dependencies"></app-simple-mat-select-search>
              </div>
              <div class="col-sm-4">
                <app-simple-mat-select-search [pathPropertyOfObjectDisplay]="'funcionario.fullname'"
                  [placehorder]="'Buscar funcionario'" [data]="accounts"
                  (eventSelectedOption)="selectUser($event.value)"></app-simple-mat-select-search>
              </div>
            </div>
          </mat-expansion-panel> -->

          <mat-expansion-panel>
            <mat-expansion-panel-header>
              <mat-panel-title>
                PARAMETROS SOLICITANTE
              </mat-panel-title>
            </mat-expansion-panel-header>
            <div class="row">
              <ng-container *ngIf="groupProcedure==='tramites_externos'">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre solicitante / Dni</mat-label>
                    <input matInput placeholder="Nombre / Dni" formControlName="solicitante">
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre representante / Dni</mat-label>
                    <input matInput placeholder="Nombre / Dni" formControlName="representante">
                  </mat-form-field>
                </div>
              </ng-container>
              <ng-container *ngIf="groupProcedure==='tramites_internos'">
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre o cargo remitente</mat-label>
                    <input matInput placeholder="Nombre / Cargo" formControlName="remitente">
                  </mat-form-field>
                </div>
                <div class="col-sm-6">
                  <mat-form-field class="example-full-width">
                    <mat-label>Nombre o cargo destinatario</mat-label>
                    <input matInput placeholder="Nombre / Cargo" formControlName="destinatario">
                  </mat-form-field>
                </div>
              </ng-container>
            </div>
          </mat-expansion-panel>
        </mat-accordion>
      </form>
    </mat-card-content>
    <mat-card-actions align="end">
      <button mat-button (click)="accordion.openAll()">Mostrar</button>
      <button mat-button (click)="accordion.closeAll()">Ocultar</button>
      <button (click)="reset()" mat-raised-button color="accent">Borrar</button>
      <button (click)="generateReport()" mat-raised-button color="primary">Buscar</button>
    </mat-card-actions>
  </mat-card>
  <br>
  <div class="example-container mat-elevation-z8">
    <div class="example-table-container">
      <table mat-table [dataSource]="dataSource">
        <ng-container matColumnDef="alterno">
          <th mat-header-cell *matHeaderCellDef> Alterno </th>
          <td mat-cell *matCellDef="let element">
            <a (click)="view(element)">
              {{element.alterno}}
            </a>
          </td>
        </ng-container>
        <ng-container matColumnDef="tipo_tramite">
          <th mat-header-cell *matHeaderCellDef> Tramite </th>
          <td mat-cell *matCellDef="let element"> {{element.tipo_tramite.nombre}} </td>
        </ng-container>

        <ng-container matColumnDef="descripcion">
          <th mat-header-cell *matHeaderCellDef> Referencia </th>
          <td mat-cell *matCellDef="let element"> {{element.detalle|uppercase}} </td>
        </ng-container>
        <ng-container matColumnDef="estado">
          <th mat-header-cell *matHeaderCellDef> Estado </th>
          <td mat-cell *matCellDef="let element">
            <span class="badge" [ngClass]="element.estado|state">
              {{element.estado|uppercase}}
            </span>
          </td>
        </ng-container>
        <ng-container matColumnDef="cite">
          <th mat-header-cell *matHeaderCellDef> Cite </th>
          <td mat-cell *matCellDef="let element">
            {{element.cite!=""?element.cite:'S / C'}}
          </td>
        </ng-container>
        <ng-container matColumnDef="fecha_registro">
          <th mat-header-cell *matHeaderCellDef> Fecha </th>
          <td mat-cell *matCellDef="let element">
            {{element.fecha_registro|date:'short'}}
          </td>
        </ng-container>

        <ng-container matColumnDef="opciones">
          <th mat-header-cell *matHeaderCellDef> </th>
          <td mat-cell *matCellDef="let element">
            <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
              <mat-icon>more_vert</mat-icon>
            </button>
            <mat-menu #menu="matMenu">

            </mat-menu>
          </td>
        </ng-container>
        <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
    </div>
    <app-paginator (page)="generateReport()" [pageSizeOptions]="[10, 20, 30, 50]"></app-paginator>
  </div>




</div>