<mat-form-field>
  <mat-select
    [formControl]="optionCtrl"
    (selectionChange)="selectOption($event.value)"
    [placeholder]="placehorder"
    [required]="required"
  >
    <mat-option>
      <ngx-mat-select-search
        placeholderLabel="Texto a buscar"
        noEntriesFoundLabel="No se encontraron resultados"
        [formControl]="optionFilterCtrl"
      ></ngx-mat-select-search>
    </mat-option>
    @if (!required) {
    <mat-option>--</mat-option>
    }
    <mat-option *ngFor="let option of filteredOptions | async" [value]="option.value">
      {{ option.text }}
    </mat-option>
  </mat-select>
  <!-- @if (required) {
  <mat-error>Este campo es obligatorio</mat-error>
  } -->
</mat-form-field>
