<mat-form-field>
  <mat-select
    [required]="isRequired"
    (selectionChange)="selectOption($event.value)"
    [formControl]="optionCtrl"
    [placeholder]="placehorder"
    #singleSelect
  >
    <mat-option>
      <ngx-mat-select-search
        placeholderLabel="Texto a buscar"
        noEntriesFoundLabel="No se encontraron resultados"
        [formControl]="optionFilterCtrl"
      ></ngx-mat-select-search>
    </mat-option>
    <mat-option *ngFor="let bank of filteredOptions | async" [value]="bank.value">
      {{ bank.text }}
    </mat-option>
  </mat-select>
  <mat-error *ngIf="optionCtrl.invalid">Seleccione una opcion</mat-error>
</mat-form-field>
