@if(mail()){
<div class="animate__animated animate__fadeInLeft animate__faster">
  <p>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="backLocation()">
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ mail()!.procedure.code }}</span>
      <span class="toolbar-spacer"></span>
      <button mat-icon-button (click)="generateRouteMap()" matTooltip="Hoja de ruta">
        <mat-icon>description</mat-icon>
      </button>
      <button mat-icon-button (click)="addObservation()" matTooltip="Agregar observacion">
        <mat-icon>attach_file</mat-icon>
      </button>
    </mat-toolbar>
  </p>
  <div class="container-fluid">
    <mat-card>
      <div class="d-sm-flex">
        <div class="me-auto">
          <mat-card-header>
            <div mat-card-avatar class="header-card-image"></div>
            <mat-card-title> {{ mail()!.emitter.fullname | titlecase }}</mat-card-title>
            <mat-card-subtitle>{{ mail()!.emitter.jobtitle | uppercase }}</mat-card-subtitle>
          </mat-card-header>
        </div>
        <span class="fs-6 p-3">{{ mail()!.outboundDate | date : "short" }} </span>
      </div>
      <mat-card-content>
        <dl class="row">
          <dt class="col-sm-2">Instruccion / Proveido:</dt>
          <dd class="col-sm-9">{{ mail()!.reference }}</dd>
          <dt class="col-sm-2">Cantidad</dt>
          <dd class="col-sm-9">
            {{ mail()!.attachmentQuantity }}
          </dd>
          <dt class="col-sm-2">Status</dt>
          <dd class="col-sm-9">
            <span [style.color]="mail()!.statusLabel().color"> {{ mail()!.statusLabel().label }}</span>
          </dd>
        </dl>
      </mat-card-content>
      @if(mail()!.status==='pending'){
      <mat-card-actions class="action-row-buttons" align="end">
        <button mat-raised-button color="warn" (click)="rejectMail()">Rechazar</button>
        <button mat-raised-button color="primary" (click)="acceptMail()">Aceptar</button>
      </mat-card-actions>
      }
    </mat-card>
    @if(procedure()){
    <mat-tab-group mat-align-tabs="center" class="animate__animated animate__fadeIn animate__faster">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">info</mat-icon>
          Informacion
        </ng-template>
        @switch (procedure()?.group) { @case ('ExternalDetail') {
        <app-external-detail [procedure]="external" />
        } @case ('InternalDetail') { <app-internal-detail [procedure]="internal" />} @default { Type procedure not
        define {{ procedure()?.group }}
        } }
      </mat-tab>
      <mat-tab *ngIf="observations().length > 0">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">push_pin</mat-icon>
          Observaciones
        </ng-template>
        <app-observations
          [observations]="observations()"
          [enableOptions]="true"
          (solveObservation)="solvedObservation($event)"
        ></app-observations>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">groups</mat-icon>
          Flujo de trabajo
        </ng-template>
        <app-list-workflow [workflow]="workflow"></app-list-workflow>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">account_tree</mat-icon>
          Flujo de trabajo grafico
        </ng-template>
        <app-graph-workflow [workflow]="workflow"></app-graph-workflow>
      </mat-tab>
    </mat-tab-group>
    } @else {
    <mat-progress-bar mode="query"></mat-progress-bar>
    }
  </div>
</div>
}
