<p *ngIf="mail">
  <mat-toolbar color="primary">
    <button (click)="back()" mat-icon-button>
      <mat-icon>arrow_back</mat-icon>
    </button>
    <span>{{ mail.tramite.code }}</span>
    <span class="example-spacer"></span>
    <button
      [disabled]="mail.recibido === undefined"
      (click)="addObservation()"
      matTooltip="Agregar observacion"
      mat-icon-button
    >
      <mat-icon>push_pin</mat-icon>
    </button>
    <button
      (click)="generar()"
      matTooltip="Generar ficha de tramite"
      mat-icon-button
    >
      <mat-icon>print</mat-icon>
    </button>
  </mat-toolbar>
</p>

<div class="container-fluid animate__animated animate__fadeInLeft">
  <mat-card *ngIf="mail" appearance="outlined" class="example-card">
    <div class="d-sm-flex">
      <div class="me-auto">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>
            {{ mail.emisor.fullname | titlecase }}</mat-card-title
          >
          <mat-card-subtitle>{{
            mail.emisor.jobtitle | uppercase
          }}</mat-card-subtitle>
        </mat-card-header>
      </div>
      <div class="p-3">
        <span class="fs-6">{{ mail.fecha_envio | date : "medium" }} </span>
      </div>
      <!-- <div class="p-3">
        <button mat-icon-button [matMenuTriggerFor]="menu">
          <mat-icon>more_vert</mat-icon>
        </button>
        <mat-menu #menu="matMenu">
          <div [ngSwitch]="mail.recibido">
            <div *ngSwitchCase="null">
              <button (click)="aceptMail()" mat-menu-item>
                <mat-icon>done</mat-icon>
                <span>Aceptar tramite</span>
              </button>
              <button (click)="rejectMail()" mat-menu-item>
                <mat-icon>block</mat-icon>
                <span>Rechazar tramite</span>
              </button>
            </div>
            <div *ngSwitchCase="true">
              <button (click)="send()" mat-menu-item>
                <mat-icon>send</mat-icon>
                <span>Remitir tramite</span>
              </button>
              <button (click)="generateRouteMap()" mat-menu-item>
                <mat-icon>print</mat-icon>
                <span>Hoja de ruta</span>
              </button>
              <button (click)="concluir()" mat-menu-item>
                <mat-icon>domain_verification</mat-icon>
                <span>Concluir tramite</span>
              </button>
            </div>
          </div>
        </mat-menu>
      </div> -->
    </div>
    <mat-card-content>
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">Instruccion / Proveido:</h5>
          <p class="card-text">{{ mail.motivo }}</p>
        </div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Cantidad: {{ mail.cantidad }}</li>
          <li class="list-group-item">Dependencia: {{ officeOfEmiter }}</li>
        </ul>
      </div>
    </mat-card-content>
  </mat-card>
  <mat-tab-group *ngIf="procedure" mat-align-tabs="center">
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">info</mat-icon>
        Informacion
      </ng-template>
      <div [ngSwitch]="procedure.group">
        <div *ngSwitchCase="group.EXTERNAL">
          <ng-container>
            <app-external-detail [procedure]="external"></app-external-detail>
          </ng-container>
        </div>
        <div *ngSwitchCase="group.INTERNAL">
          <app-internal-detail [procedure]="internal"></app-internal-detail>
        </div>
        <div *ngSwitchDefault>Type procedure not define</div>
      </div>
    </mat-tab>
    <mat-tab *ngIf="observations.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">push_pin</mat-icon>
        Observaciones
      </ng-template>
      <app-observaciones
        [Options]="true"
        [Observaciones]="observations"
        (setNewState)="setNewStateProcedure($event)"
      ></app-observaciones>
    </mat-tab>
    <mat-tab *ngIf="Events.length > 0">
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">list_alt</mat-icon>
        Eventos
      </ng-template>
      <app-events-procedure [events]="Events"></app-events-procedure>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">groups</mat-icon>
        Flujo de trabajo
      </ng-template>
      <app-list-workflow
        [workflow]="workflow"
        [startDate]="procedure.startDate"
      ></app-list-workflow>
    </mat-tab>
    <mat-tab>
      <ng-template mat-tab-label>
        <mat-icon class="tab-icon">account_tree</mat-icon>
        Flujo de trabajo grafico
      </ng-template>
      <app-graph-workflow [workflow]="workflow"></app-graph-workflow>
    </mat-tab>
  </mat-tab-group>
</div>
