<div *ngIf="mail" class="animate__animated animate__fadeInLeft">
  <p>
    <mat-toolbar color="primary">
      <button (click)="back()" mat-icon-button>
        <mat-icon>arrow_back</mat-icon>
      </button>
      <span>{{ mail.procedure.code }}</span>
      <span class="example-spacer"></span>
      <button
        mat-icon-button
        (click)="generateRouteMap()"
        matTooltip="Hoja de ruta"
      >
        <mat-icon>description</mat-icon>
      </button>
      <button
        mat-icon-button
        (click)="addObservation()"
        matTooltip="Agregar observacion"
      >
        <mat-icon>attach_file</mat-icon>
      </button>
      <!-- <button
      [disabled]="mail.recibido === undefined"
      (click)="addObservation()"
      matTooltip="Agregar observacion"
      mat-icon-button
    >
      <mat-icon>push_pin</mat-icon>
    </button>
    <button
      (click)="generar()"
      matTooltip="Generar ficha de tramite"
      mat-icon-button
    >
      <mat-icon>print</mat-icon>
    </button> -->
    </mat-toolbar>
  </p>

  <div class="container-fluid">
    <mat-card>
      <div class="d-sm-flex">
        <div class="me-auto">
          <mat-card-header>
            <div mat-card-avatar class="example-header-image"></div>
            <mat-card-title>
              {{ mail.emitter.fullname | titlecase }}</mat-card-title
            >
            <mat-card-subtitle>{{
              mail.emitter.jobtitle | uppercase
            }}</mat-card-subtitle>
          </mat-card-header>
        </div>
        <div class="p-3">
          <span class="fs-6">{{ mail.outboundDate | date : "medium" }} </span>
        </div>
      </div>
      <mat-card-content>
        <div class="card bg-transparent">
          <div class="card-body">
            <h5 class="card-title">Instruccion / Proveido:</h5>
            <p class="card-text">{{ mail.reference }}</p>
          </div>
          <ul class="list-group list-group-flush">
            <li class="list-group-item">
              Cantidad: {{ mail.attachmentQuantity }}
            </li>
          </ul>
        </div>
      </mat-card-content>
      <mat-card-actions
        class="action-row-buttons"
        *ngIf="mail.status === 'pending'"
        align="end"
      >
        <button mat-raised-button color="warn" (click)="rejectMail()">
          Rechazar
        </button>
        <button mat-raised-button color="primary" (click)="acceptMail()">
          Aceptar
        </button>
      </mat-card-actions>
    </mat-card>
    <mat-tab-group *ngIf="procedure" mat-align-tabs="center">
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">info</mat-icon>
          Informacion
        </ng-template>
        <div [ngSwitch]="procedure.group">
          <div [ngSwitch]="procedure.group">
            <div *ngSwitchCase="group.EXTERNAL">
              <app-external-detail [procedure]="external"></app-external-detail>
            </div>
            <div *ngSwitchCase="group.INTERNAL">
              <app-internal-detail [procedure]="internal"></app-internal-detail>
            </div>
            <div *ngSwitchDefault>
              Type procedure not define {{ procedure.group }}
            </div>
          </div>
        </div>
      </mat-tab>
      <mat-tab *ngIf="observations.length > 0">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">push_pin</mat-icon>
          Observaciones
        </ng-template>
        <app-observations
          [observations]="observations"
          (setNewState)="setNewStateProcedure($event)"
        ></app-observations>
      </mat-tab>
      <mat-tab *ngIf="Events.length > 0">
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">list_alt</mat-icon>
          Eventos
        </ng-template>
        <app-events-procedure [events]="Events"></app-events-procedure>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">groups</mat-icon>
          Flujo de trabajo
        </ng-template>
        <app-list-workflow
          [workflow]="workflow"
          [startDate]="procedure.startDate"
        ></app-list-workflow>
      </mat-tab>
      <mat-tab>
        <ng-template mat-tab-label>
          <mat-icon class="tab-icon">account_tree</mat-icon>
          Flujo de trabajo grafico
        </ng-template>
        <app-graph-workflow [workflow]="workflow"></app-graph-workflow>
      </mat-tab>
    </mat-tab-group>
  </div>
</div>
