.tab-icon {
    margin-right: 8px;
}

.example-header-image {
    background-image: url('../../../../assets/img/account.png');
    background-size: cover;
}

.action-row-buttons .mat-mdc-button-base {
    margin: 0 8px 0 0;
}


mat-card-title {
    color: royalblue
}