<h1 mat-dialog-title>{{ data ? "EDICION" : "REGISTRO" }} DE ROL</h1>
<div mat-dialog-content>
  <form [formGroup]="roleForm">
    <div class="row">
      <div class="col-sm-5">
        <mat-form-field>
          <mat-label>Nombre del rol</mat-label>
          <input matInput formControlName="name" />
          <mat-error *ngIf="roleForm.controls['name'].invalid"
            >Ingrese el nombre del rol</mat-error
          >
        </mat-form-field>
      </div>
      <div class="col-sm-7">
        <mat-form-field>
          <mat-label>Seleccione los recursos</mat-label>
          <mat-select (selectionChange)="addPermission($event.value)">
            <mat-optgroup *ngFor="let module of modules" [label]="module.group">
              <mat-option
                *ngFor="let resource of module.resources"
                [value]="resource"
                [disabled]="resource.disabled"
              >
                {{ resource.text }}
              </mat-option>
            </mat-optgroup>
          </mat-select>
        </mat-form-field>
      </div>
    </div>
    <div class="row">
      <div class="col-sm-12">
        <div class="container-privileges">
          <table class="table text-center">
            <thead>
              <tr>
                <th style="width: 50%" scope="col">Modulo</th>
                <th style="width: 40%" scope="col">Acciones</th>
                <th style="width: 10%" scope="col"></th>
              </tr>
            </thead>
            <tbody class="table-group-divider">
              <ng-container
                formArrayName="permissions"
                *ngFor="let privilege of selectedModules; let i = index"
              >
                <tr [formGroupName]="i">
                  <td>
                    {{ privilege.text }}
                  </td>
                  <td>
                    <mat-form-field>
                      <mat-label>Acciones</mat-label>
                      <mat-select formControlName="actions" multiple>
                        <mat-select-trigger>
                          {{ permissions.controls[i].value.actions.length }}
                        </mat-select-trigger>
                        <mat-option
                          *ngFor="let action of privilege.actions"
                          [value]="action.value"
                          >{{ action.viewValue }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </td>
                  <td>
                    <button (click)="removePrivilege(i)" mat-icon-button>
                      <mat-icon>delete</mat-icon>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </form>
</div>
<div mat-dialog-actions align="end">
  <button mat-raised-button color="warn" [mat-dialog-close]="">CANCELAR</button>
  <button
    mat-raised-button
    color="primary"
    [disabled]="roleForm.invalid"
    (click)="save()"
  >
    ACEPTAR
  </button>
</div>
