<div class="position-relative">
    <div class="card" *ngIf="Tramite">
        <h3 class="card-header">{{Tramite.tipo_tramite.nombre}} - {{Tramite.alterno}}</h3>
        <div class="card-body">
            <div class="card">
                <div class="card-body lh-lg">
                    <h3 class="card-title fw-bold">INFORMACION DEL TRAMITE</h3>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Descripcion: {{Tramite.detalle}}</p>
                        </div>
                        <div class="col">
                            <p class="card-text">Estado:
                                <span class="badge" [ngClass]="[
                                Tramite.estado=='INSCRITO'?'text-bg-primary':'',
                                Tramite.estado=='EN REVISION'?'text-bg-secondary':'',
                                Tramite.estado=='OBSERVADO'?'text-bg-warning':'',
                                Tramite.estado=='CONCLUIDO'?'text-bg-dark':''
                            ]">
                                    {{Tramite.estado|uppercase}}
                                </span>
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text">Cantidad: {{Tramite.cantidad}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">Registrado: {{Tramite.fecha_registro|date:'short'}}</p>
                        </div>
                        <div class="col">
                            <p class="card-text">Pin: {{Tramite.pin}}</p>
                        </div>
                        <div class="col">
                            <p class="card-text">Cite: {{Tramite.cite}}</p>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col">
                            <p class="card-text">
                                <mat-icon style="vertical-align: middle;">location_on</mat-icon>
                                UBICACION: {{Tramite.ubicacion.dependencia.nombre}} -
                                {{Tramite.ubicacion.dependencia.institucion.sigla}}
                            </p>
                        </div>
                        <div class="col">
                            <p class="card-text">
                                <mat-icon style="vertical-align: middle;">person</mat-icon>
                                RESPONSABLE: {{Tramite.ubicacion.funcionario.nombre}} -
                                {{Tramite.ubicacion.funcionario.cargo}}
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <div [ngSwitch]="Tramite.solicitante.tipo">
                                <div *ngSwitchCase="'JURIDICO'">
                                    <h3 class="card-title fw-bold">SOLICITANTE: {{Tramite.solicitante.tipo}}</h3>
                                    <p class="card-text">Nombre: {{Tramite.solicitante.nombre}}</p>
                                    <p class="card-text">Telefono: {{Tramite.solicitante.telefono}}</p>

                                </div>
                                <div *ngSwitchCase="'NATURAL'">
                                    <h3 class="card-title fw-bold">SOLICITANTE: {{Tramite.solicitante.tipo}}</h3>
                                    <p class="card-text">Nombre: {{Tramite.solicitante.nombre}}</p>
                                    <p class="card-text">Documento: {{Tramite.solicitante.documento}} -
                                        {{Tramite.solicitante.expedido}}
                                        {{Tramite.solicitante.dni}}</p>
                                    <p class="card-text">Telefono: {{Tramite.solicitante.telefono}}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div *ngIf="Tramite.representante" class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">REPRESENTANTE</h3>
                            <p class="card-text">Nombre: {{Tramite.representante.nombre}}</p>
                            <p class="card-text">Documento: {{Tramite.representante.documento}} -
                                {{Tramite.representante.expedido}}
                                {{Tramite.representante.dni}}</p>
                            <p class="card-text">Telefono: {{Tramite.representante.telefono}}</p>
                        </div>
                    </div>
                </div>
            </div>
            <div [ngSwitch]="permitir_opciones">
                <div *ngSwitchCase="true">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">OBSERVACIONES</h3>
                            <div class="example-action-buttons">
                                <button mat-button (click)="accordion.openAll()">
                                    Mostrar
                                </button>
                                <button mat-button (click)="accordion.closeAll()">
                                    Ocultar
                                </button>
                                <button [disabled]="permitir_observar" mat-button (click)="addObservacion()">
                                    Agregar
                                </button>
                            </div>
                            <mat-accordion multi>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Mis observaciones
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div [ngSwitch]="Mis_observaciones">
                                        <div *ngSwitchCase="undefined">
                                            <div class="alert alert-primary" role="alert">
                                                Usted no ha registrado ninguna observacion
                                            </div>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <div class="card">
                                                <div class="card-body">
                                                    <h4 class="d-flex justify-content-between align-items-center">
                                                        Registrado: {{Mis_observaciones.fecha|date:'short'}}
                                                        <button [disabled]="Mis_observaciones.corregido" (click)="putObservacion()" mat-raised-button color="primary">Corregir</button>
                                                    </h4>
                                                    
                                                    <p class="card-text">Descripcion: {{Mis_observaciones.descripcion}}</p>
                                                    <h4 class="card-subtitle mb-2 text-muted">Situacion: <span class="badge"
                                                        [ngClass]="Mis_observaciones.corregido?'text-bg-success':'text-bg-danger'">{{Mis_observaciones.corregido?'Corregido':'Sin corregir'}}</span></h4>
                                                </div>
                                            </div>
        
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                                <mat-expansion-panel>
                                    <mat-expansion-panel-header>
                                        <mat-panel-title>
                                            Otras observaciones
                                        </mat-panel-title>
                                    </mat-expansion-panel-header>
                                    <div [ngSwitch]="Otras_observaciones.length">
                                        <div *ngSwitchCase="0">
                                            <div class="alert alert-primary" role="alert">
                                                Este tramite no tiene observaciones
                                            </div>
                                        </div>
                                        <div *ngSwitchDefault>
                                            <mat-list>
                                                <mat-list-item *ngFor="let obs of Otras_observaciones">
                                                    <img matListAvatar src="../../../assets/img/account.png">
                                                    <h3 matLine class="fw-semibold"> {{obs.funcionario }} </h3>
                                                    <p matLine class="fw-lighte">Descripcion: {{obs.descripcion}} </p>
                                                    <p matLine class="demo-2">Situacion: <span class="badge" [ngClass]="obs.corregido?'text-bg-success':'text-bg-danger'">{{obs.corregido?'CORREGIDO':'SIN CORREGIR'}}</span> </p>
                                                    <span>  {{obs.fecha | date:'short'}}</span>
                                                </mat-list-item>
                                            </mat-list>
                                        </div>
                                    </div>
                                </mat-expansion-panel>
                            </mat-accordion>
                        </div>
                    </div>
                    
                </div>
                <div *ngSwitchCase="false">
                    <div class="card">
                        <div class="card-body lh-lg">
                            <h3 class="card-title fw-bold">OBSERVACIONES TRAMITE</h3>
                            <mat-list *ngIf="Tramite.observaciones.length>0">
                                <mat-list-item *ngFor="let obs of Tramite.observaciones">
                                    <img matListAvatar src="../../../assets/img/account.png">
                                    <h3 matLine class="fw-semibold"> {{obs.funcionario }} </h3>
                                    <p matLine class="fw-lighte">Descripcion: {{obs.descripcion}} </p>
                                    <p matLine class="demo-2">Situacion: <span class="badge" [ngClass]="obs.corregido?'text-bg-success':'text-bg-danger'">{{obs.corregido?'CORREGIDO':'SIN CORREGIR'}}</span> </p>
                                    <span>  {{obs.fecha | date:'short'}}</span>
                                </mat-list-item>
                            </mat-list>
                            <div *ngIf="Tramite.observaciones.length==0" class="alert alert-primary" role="alert">
                                Este tramite no tiene observaciones
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="card">
                <div class="card-body">
                    <h3 class="card-title fw-bold">REQUERIMIENTOS PRESENTADOS</h3>
                    <ol class="list-group list-group-numbered">
                        <li *ngFor="let requerimiento of Tramite.requerimientos"
                            class="list-group-item d-flex justify-content-between align-items-start">
                            <div class="ms-2 me-auto">
                                {{requerimiento|uppercase}}
                            </div>
                        </li>
                    </ol>
                </div>
            </div>
        </div>
    </div>
</div>

