<h2 mat-dialog-title>{{titulo}} funcionario</h2>
<mat-dialog-content class="mat-typography">
    <form [formGroup]="Form_Funcionario">
        <div class="row">
            <mat-form-field>
                <mat-select formControlName="superior" placeholder="Buscar inmediato superior">
                    <mat-option>
                        <ngx-mat-select-search [formControl]="funcionarioServerSideFilteringCtrl"
                            [searching]="searching" noEntriesFoundLabel="Sin resultados"
                            placeholderLabel="Nombre o Cargo"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let funcionario of filteredServerSideBanks | async" [value]="funcionario._id">
                        {{funcionario|fullname|titlecase}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="fill">
                    <mat-label>Nombre</mat-label>
                    <input class="uppercase" formControlName="nombre" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido paterno</mat-label>
                    <input class="uppercase" formControlName="paterno" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="fill">
                    <mat-label>Apellido materno</mat-label>
                    <input class="uppercase" formControlName="materno" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4">
                <mat-form-field appearance="fill">
                    <mat-label>Dni</mat-label>
                    <input formControlName="dni" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-4">
                <mat-form-field appearance="fill">
                    <mat-label>Telefono</mat-label>
                    <input formControlName="telefono" matInput>
                </mat-form-field>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <mat-form-field appearance="fill">
                    <mat-label>Cargo</mat-label>
                    <input formControlName="cargo" matInput>
                </mat-form-field>
            </div>
            <div class="col-sm-6">
                <mat-form-field appearance="fill">
                    <mat-label>Direccion</mat-label>
                    <input formControlName="direccion" matInput>
                </mat-form-field>
            </div>
        </div>
    </form>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-button mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" mat-button [disabled]="Form_Funcionario.invalid"
        (click)="guardar()">Guardar</button>
</mat-dialog-actions>