<mat-toolbar>
    <span>Reporte ficha</span>
</mat-toolbar>
<div class="container-fluid">

    <div class="row">
        <mat-form-field class="example-full-width">
            <mat-label>Alterno del tramite</mat-label>
            <input [(ngModel)]="alterno" name="alterno" type="text" matInput>
        </mat-form-field>
    </div>
    <div class="row justify-content-md-center">
        <div class="col">
            <button (click)="generar_reporte()" mat-raised-button color="primary">Generar ficha</button>
        </div>
        <div class="col">
            <button (click)="generar_reportePrueba()" mat-raised-button color="primary">Generar ruta</button>
        </div>
    </div>
</div>