<mat-toolbar>
    <button (click)="regresar()" mat-icon-button color="primary">
        <mat-icon>arrow_back</mat-icon>
    </button>
    <span>Informacion tramite</span>
</mat-toolbar>
<mat-tab-group mat-align-tabs="center" [@slideInLeftOnEnter]>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">info</mat-icon>
            Informacion
        </ng-template>
        <div *ngIf="Tramite" class="container-fluid">
            <div class="card">
                <div class="card-body">
                    <h3 class="card-header fw-bold text-bg-secondary mb-3">{{Tramite.tipo_tramite.nombre|uppercase}} /
                        {{Tramite.alterno}}</h3>
                    <form class="row g-3">
                        <div class="col-md-8">
                            <label class="form-label">Tipo de tramite</label>
                            <input class="form-control" type="text" value="{{Tramite.tipo_tramite.nombre}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Alterno</label>
                            <input class="form-control" type="text" value="{{Tramite.alterno}}" disabled readonly>
                        </div>
                        <div class="col-12">
                            <label class="form-label">Descripcion</label>
                            <input class="form-control" type="text" value="{{Tramite.detalle}}" disabled readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Fecha registro</label>
                            <input class="form-control" type="text" value="{{Tramite.fecha_registro|date:'short'}}"
                                disabled readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cantidad</label>
                            <input class="form-control" type="text" value="{{Tramite.cantidad}}" disabled readonly>
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cite</label>
                            <input class="form-control" type="text" value="{{Tramite.cite}}" disabled readonly>
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Estado</label>
                            <input class="form-control" type="text" value="{{Tramite.estado}}" disabled readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">UBICACION</label>
                            <div class="card border-primary mb-3">
                                <div class="card-body">
                                    <h4 class="card-title fw-bold">{{Tramite.ubicacion.funcionario.nombre}}
                                        {{Tramite.ubicacion.funcionario.paterno}}
                                        {{Tramite.ubicacion.funcionario.materno}} -
                                        {{Tramite.ubicacion.funcionario.cargo|uppercase}}</h4>
                                    <p class="card-text">{{Tramite.ubicacion.dependencia.nombre}} -
                                        {{Tramite.ubicacion.dependencia.institucion.sigla}}</p>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="row">
               
            </div>
            <div class="row">
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">INFORMACION REMITENTE</h3>
                            <form class="row g-3">
                                <div class="col-md-12">
                                    <label class="form-label">Nombre</label>
                                    <input class="form-control" type="text" value="{{Tramite.remitente.nombre}}"
                                        disabled readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Cargo</label>
                                    <input class="form-control" type="text" value="{{Tramite.remitente.cargo}}" disabled
                                        readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title fw-bold">INFORMACION DESTINATARIO</h3>
                            <form class="row g-3">
                                <div class="col-md-12">
                                    <label class="form-label">Nombre</label>
                                    <input class="form-control" type="text" value="{{Tramite.destinatario.nombre}}"
                                        disabled readonly>
                                </div>
                                <div class="col-md-12">
                                    <label class="form-label">Cargo</label>
                                    <input class="form-control" type="text" value="{{Tramite.destinatario.cargo}}"
                                        disabled readonly>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card" *ngIf="Tramite">
                <h3 class="card-header fw-bold text-bg-secondary mb-3">OBSERVACIONES</h3>
                <div class="card-body">
                    <app-observaciones [Options]="false" [Observaciones]="Tramite.observaciones"></app-observaciones>
                </div>
            </div>
           
        </div>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">groups</mat-icon>
            Flujo de trabajo
        </ng-template>
        <app-list-workflow *ngIf="Workflow" [Workflow]="Workflow"
            [fecha_registro]="Tramite.fecha_registro"></app-list-workflow>
    </mat-tab>
    <mat-tab>
        <ng-template mat-tab-label>
            <mat-icon class="example-tab-icon">tenancy</mat-icon>
            Flujo de trabajo grafico
        </ng-template>
        <app-graph-workflow *ngIf="Workflow" [Workflow]="Workflow"></app-graph-workflow>
    </mat-tab>
</mat-tab-group>