.mat-cell {
    font-size: 11px;
}

.badge {
    font-size: 12px;
}

td.mat-column-ubicacion {
    width: 150px;
}

td.mat-column-estado {
    max-width: 70px;
}

td.mat-column-alterno {
    max-width: 100px;
}

td.mat-column-tramite {
    max-width: 200px;
    padding-inline: 5px;
}
td.mat-column-descripcion {
    max-width: 200px;
    padding-inline: 5px;
}

td.mat-column-opciones {
    text-align: center;
    width: 2px;
    border-left: 1px solid;
}
.filter-menu{
    font-size: 13px;
}
.filter-input{
    padding-right: 20px;
    width: 150px;
}
.search-input{
    width: 60%;
}