table {
    width: 100%;
}
.mat-cell {
    font-size: 12px;
}
.badge {
    font-size: 12px;
}

/* Structure table*/
.example-table-container {
    position: relative;
    max-height: 73vh;
    overflow: auto;
}


/* Column Widths */
.mat-column-alterno {
    min-width: 180px;
    padding-inline: 20px;
}
.mat-column-ubicacion {
    min-width: 340px;
    padding-right: 20px;
}
.mat-column-tramite {
    min-width: 300px;
}
.mat-column-descripcion {
    min-width: 300px;
    padding-right: 20px;
}
.mat-column-estado {
    min-width: 150px;
}
.mat-column-solicitante {
    min-width: 250px;
}
.mat-column-fecha_registro {
    min-width: 120px;
}
.mat-column-opciones {
    width: 10px;
}




