<h2 mat-dialog-title>REMISION TRAMITE</h2>
<mat-dialog-content>
    <div class="contianer-fluid">
        <form class="row g-3">
            <div class="col-md-3">
                <label class="form-label">Alterno</label>
                <input disabled type="text" class="form-control" [value]="Data.tramite.alterno">
            </div>
            <div class="col-md-9">
                <label class="form-label">Tipo</label>
                <input disabled type="text" class="form-control" [value]="Data.tramite.nombre">
            </div>
        </form>
        <br>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-label>Seleccione la institucion</mat-label>
                <mat-select (selectionChange)="obtener_dependencias($event.value)">
                    <mat-option *ngFor="let inst of instituciones" [value]="inst.id_institucion">
                        {{inst.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <div class="row">
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="getUsers($event.value)" [formControl]="bankCtrl"
                    placeholder="Buscar dependencia" #singleSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="bankFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let bank of filteredBanks | async" [value]="bank.id_dependencia">
                        {{bank.nombre}}
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>

        <div class="row">
            <mat-form-field appearance="fill">
                <mat-select (selectionChange)="seleccionar_receptor()" [formControl]="UserCtrl"
                    placeholder="Buscar funcionario" #userSelect>
                    <mat-option>
                        <ngx-mat-select-search [formControl]="userFilterCtrl"></ngx-mat-select-search>
                    </mat-option>
                    <mat-option *ngFor="let user of filteredUsers | async " [value]="user">
                        <img alt="" class="example-option-img" src="../../../assets/img/account.png" height="25">
                        <span>{{user.jobtitle|titlecase}}</span> |
                        <small>{{user.fullname|uppercase}}</small>
                        <span *ngIf="user.online" style="left: 20px; vertical-align: middle;"
                            class="c-pill c-pill--success">
                            (Conectado)</span>
                        <span *ngIf="!user.online" style="left: 20px; vertical-align: middle;"
                            class="c-pill c-pill--danger">
                            (Sin conexion)</span>
                    </mat-option>
                </mat-select>
            </mat-form-field>
        </div>
        <form [formGroup]="FormEnvio">
            <div class="row">
                <div class="col-8">
                    <mat-form-field appearance="fill">
                        <mat-label>Instruccion / Proveido</mat-label>
                        <input formControlName="motivo" matInput required>
                        <mat-error *ngIf="FormEnvio.controls['motivo'].invalid">
                            Ingrese el motivo
                        </mat-error>
                    </mat-form-field>
                </div>
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Cantidad</mat-label>
                        <input formControlName="cantidad" matInput required>
                        <mat-error *ngIf="FormEnvio.controls['cantidad'].invalid">
                            Ingrese la cantidad
                        </mat-error>
                    </mat-form-field>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <mat-form-field appearance="fill">
                        <mat-label>Nro. Registro interno</mat-label>
                        <input formControlName="numero_interno" matInput>

                    </mat-form-field>
                </div>
            </div>
        </form>
    </div>
</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-raised-button color="warn" mat-dialog-close>Cancelar</button>
    <button mat-raised-button color="primary" [disabled]="!FormEnvio.valid" (click)="send()">Remitir</button>
</mat-dialog-actions>