<div class="container-fluid">
    <div class="row p-3">
        <div class="col-sm-8">
            <form>
                <fieldset disabled>
                    <legend>Informacion tramite</legend>
                    <div class="mb-3">
                        <label class="form-label">Tipo de tramite</label>
                        <input type="text" class="form-control" [value]="Tramite.tipo_tramite.nombre|uppercase">
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Referencia</label>
                        <textarea class="form-control" disabled [value]="Tramite.detalle"></textarea>
                    </div>
                    <div class="row">
                        <div class="col-sm-3">
                            <div class="mb-3">
                                <label class="form-label">Fecha registro</label>
                                <input type="text" class="form-control" [value]="Tramite.fecha_registro|date:'short'">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label class="form-label">Cite</label>
                                <input type="text" class="form-control"
                                    [value]="Tramite.cite!=''?Tramite.cite:' - - - - '">
                            </div>
                        </div>
                        <div class="col-sm-2">
                            <div class="mb-3">
                                <label class="form-label">Cantidad</label>
                                <input type="text" class="form-control" [value]="Tramite.cantidad">
                            </div>
                        </div>
                    </div>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-4">
            <form>
                <fieldset disabled>
                    <legend>Informacion flujo</legend>
                    <div class="card">
                        <div class="card-body">
                            <h3 class="card-title">Responsable registro</h3>

                            <p class="card-text fw-bold">{{Tramite.cuenta.funcionario|fullname|titlecase}}</p>
                            <p class="card-text">{{Tramite.cuenta.funcionario.cargo|titlecase}}</p>
                        </div>
                    </div>
                    <div [ngSwitch]="Tramite.estado" class="col-md-4">
                        <div *ngSwitchCase="'CONCLUIDO'">
                            <label class="form-label">Duracion proceso</label>
                            <h2> <span class="badge text-bg-light">{{count}}</span> </h2>
                        </div>
                        <div *ngSwitchDefault>
                            <label class="form-label">Tiempo transcurrido</label>
                            <h2> <span class="badge text-bg-success">{{count}}</span></h2>
                        </div>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">Estado</label>
                        <h2>
                            <span class="badge" [ngClass]="Tramite.estado|state">
                                {{Tramite.estado|uppercase}}
                            </span>
                        </h2>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>
    <div class="row p-3">

        <div class="col-sm-12">
            <legend>Ubicacion actual</legend>
            <mat-list>
                <mat-list-item *ngFor="let message of Location">
                    <img matListItemAvatar src="../../../assets/img/account.png" alt="...">
                    <h3 matListItemTitle>{{message.cuenta.dependencia.nombre}}</h3>
                    <p matListItemLine>
                        <span>{{message.cuenta.funcionario.nombre}} {{message.cuenta.funcionario.paterno}}
                            {{message.cuenta.funcionario.materno}}</span>
                        <span class="demo-2"> -- {{message.cuenta.funcionario.cargo}}</span>
                    </p>
                </mat-list-item>
            </mat-list>
        </div>

    </div>
    <div *ngIf="Tramite.eventos" class="row p-3">
        <legend>Eventos</legend>
        <mat-list *ngIf="Tramite.eventos.length>0">
            <mat-list-item *ngFor="let folder of Tramite.eventos">
                <mat-icon matListItemIcon>notifications</mat-icon>
                <div matListItemTitle>{{folder.funcionario|fullname}}</div>
                <div matListItemLine>{{folder.descripcion}}</div>
                <span matListItemLine>{{folder.fecha|date:'short'}}</span>
            </mat-list-item>
        </mat-list>
        <div *ngIf="Tramite.eventos.length===0" class="alert alert-primary" role="alert">
            El tramite no tiene eventos
        </div>
    </div>
</div>