<div class="container-fluid">
    <div class="row g-2">
        <div class="col-sm-8">
            <div class="shadow rounded">
                <div class="card bg-transparent">
                    <div class="card-body">
                        <h5 class="card-title">{{Tramite.alterno}}</h5>
                        <h6 class="card-subtitle mb-2 text-muted">Registrado: {{Tramite.fecha_registro|date:'short'}}
                        </h6>
                        <form class="row g-3">
                            <div class="col-12">
                                <label for="txtDescription" class="form-label">Descripcion</label>
                                <textarea class="form-control" id="txtDescription"
                                    readonly>{{Tramite.detalle}}</textarea>
                            </div>
                            <div class="col-md-4">
                                <label for="txtCantidad" class="form-label">Cantidad</label>
                                <input type="text" class="form-control" id="txtCantidad" [value]="Tramite.cantidad"
                                    readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="txtCite" class="form-label">Cite</label>
                                <input type="text" class="form-control" id="txtCite" [value]="Tramite.cite" readonly>
                            </div>
                            <div class="col-md-4">
                                <label for="txtPin" class="form-label">Pin</label>
                                <input type="text" class="form-control" id="txtPin" [value]="Tramite.pin" readonly>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-2">
            <div class="shadow p-3 rounded">col-sm-8</div>
        </div>
        <div class="col-6">
            <div class="shadow p-3 rounded">col-sm-8</div>
        </div>
        <div class="col-6">
            <div class="shadow p-3 rounded">col-sm-8</div>
        </div>
    </div>

</div>