<div class="container-fluid">
    <div class="row">
        <div class="col-sm-7">
            <div class="card shadow mb-2 bg-body-tertiary rounded">
                <div class="card-header fw-bold">
                    TRAMITE
                </div>
                <div class="card-body">
                    <form class="row g-3">
                        <div class="col-md-8">
                            <label class="form-label">Tipo de tramite</label>
                            <input type="text" class="form-control" disabled [value]="Tramite.tipo_tramite.nombre">
                        </div>
                        <div class="col-md-4">
                            <label class="form-label">Cite</label>
                            <input type="text" class="form-control" disabled [value]="Tramite.cite">
                        </div>
                        <div class="col-12">
                            <label for="inputAddress" class="form-label">Referencia</label>
                            <textarea class="form-control" disabled [value]="Tramite.detalle"></textarea>
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Fecha registro</label>
                            <input type="text" class="form-control" disabled
                                [value]="Tramite.fecha_registro|date:'short'">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Cantidad hojas</label>
                            <input type="text" class="form-control" disabled [value]="Tramite.cantidad">
                        </div>
                        <div class="col-md-3">
                            <label class="form-label">Cite</label>
                            <input type="text" class="form-control" disabled [value]="Tramite.cite">
                        </div>
                        <div class="col-md-2">
                            <label class="form-label">Estado</label>
                            <h2>
                                <span class="badge" [ngClass]="Tramite.estado|state">
                                    {{Tramite.estado|uppercase}}
                                </span>
                            </h2>
                        </div>
                        <div [ngSwitch]="Tramite.estado" class="col-md-4">
                            <div *ngSwitchCase="'CONCLUIDO'">
                                <label class="form-label">Duracion proceso</label>
                                <h2> {{count}}</h2>
                            </div>
                            <div *ngSwitchDefault>
                                <label class="form-label">Tiempo transcurrido</label>
                                <h2> <span class="badge text-bg-success">{{count}}</span></h2>
                            </div>
                        </div>
                    </form>
                </div>

            </div>

        </div>
        <div class="col-sm-5">
            <div class="card shadow mb-2 bg-body-tertiary rounded">
                <div class="card-header fw-bold">
                    SOLICITANTE
                </div>
                <div class="card-body">
                    <form *ngIf="Tramite.solicitante.tipo==='JURIDICO'" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante.nombre}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Telefono</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante.telefono}}" disabled
                                readonly>
                        </div>
                    </form>
                    <form *ngIf="Tramite.solicitante.tipo=='NATURAL'" class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante|fullname}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Telefono</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante.telefono}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Documento</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante.documento}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Dni</label>
                            <input class="form-control" type="text" value="{{Tramite.solicitante.dni}}" disabled
                                readonly>
                        </div>
                    </form>
                </div>
            </div>

            <div class="col-sm-12" *ngIf="Tramite.eventos">
                <div class="card shadow mb-2 bg-body-tertiary rounded">
                    <div class="card-header fw-bold">
                        EVENTOS
                    </div>
                    <div class="card-body">
                        <mat-list>
                            <div mat-subheader>Conclusiones</div>
                            <mat-list-item *ngFor="let folder of Tramite.eventos">
                              <mat-icon matListItemIcon>info</mat-icon>
                              <div matListItemTitle>{{folder.descripcion}}</div>
                              <div matListItemLine>Fecha: Pendiente</div>
                            </mat-list-item>
                            
                          </mat-list>
                    </div>
                </div>
            <!-- <div class="card shadow mb-2 bg-body-tertiary rounded">
                <div class="card-header fw-bold">
                    DESTINATARIO
                </div>
                <div class="card-body">
                    <form class="row g-3">
                        <div class="col-md-12">
                            <label class="form-label">Nombre</label>
                            <input class="form-control" type="text" value="{{Tramite.remitente.nombre}}" disabled
                                readonly>
                        </div>
                        <div class="col-md-12">
                            <label class="form-label">Cargo</label>
                            <input class="form-control" type="text" value="{{Tramite.remitente.cargo}}" disabled
                                readonly>
                        </div>
                    </form>
                </div>
            </div> -->
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <div class="card shadow mb-2 bg-body-tertiary rounded">
                <div class="card-header fw-bold">
                    OOBSERVACIONES
                </div>
                <div class="card-body">
                    <app-observaciones [Options]="false" [Observaciones]="Tramite.observaciones"></app-observaciones>
                </div>
            </div>
        </div>

    </div>
</div>