<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-toolbar color="primary" class="example-toolbar">
    <button mat-icon-button (click)="snav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span class="campo_cuenta">
      <div mat-line> {{authService.Account.funcionario.nombre_completo|titlecase}}</div>
      <div mat-line style="font-size: 11px">{{authService.Account.funcionario.cargo|titlecase}}
        ({{authService.Account.rol|titlecase}})</div>
    </span>

    <span class="example-spacer"></span>

    <button mat-icon-button (click)="openBottomSheet()">
      <mat-icon>notifications</mat-icon>
    </button>


    <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
      <mat-icon>account_circle</mat-icon>
    </button>


    <mat-menu #menu="matMenu">
      <button *ngIf="authService.Account.rol!=='admin'" mat-menu-item (click)="editAccount()">
        <mat-icon>settings</mat-icon>
        <span>Configurar cuenta</span>
      </button>
      <button (click)="logout()" mat-menu-item>
        <mat-icon>logout</mat-icon>
        <span>Cerrar sesion</span>
      </button>
    </mat-menu>

  </mat-toolbar>

  <mat-sidenav-container class="example-sidenav-container" [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      fixedTopGap="56" [opened]="true">
      <!-- <mat-nav-list>
        <ng-container *ngFor="let item of Menu">
          <div mat-subheader>{{item.modulo}}</div>
          <mat-list-item *ngFor="let submodulo of item.submodulos" [routerLink]="submodulo.ruta"
            routerLinkActive="active">
            <mat-icon mat-list-icon>
              {{submodulo.icon}}</mat-icon>
            <a matLine>{{submodulo.nombre}}</a>
          </mat-list-item>
          <mat-divider></mat-divider>
        </ng-container>
      </mat-nav-list> -->
      <mat-nav-list class="side-navnar">
        <ng-container *ngFor="let menu of Menu; index as i;">
          <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
          </ng-container>
        </ng-container>
      </mat-nav-list>




      <ng-template #parentMenu let-menu="menu">
        <mat-list-item [routerLink]="menu.routerLink" routerLinkActive="active">
          <!-- <ng-container [ngSwitch]="menu.routerLink">
            <ng-container *ngSwitchCase="'bandeja-entrada'">
              <mat-icon matListItemIcon [matBadge]="number_mails|async" [matBadgeHidden]="(number_mails|async)===0"
                matBadgeColor="warn">{{menu.icon}}</mat-icon>
              <div matListItemTitle>{{menu.name}}</div>
            </ng-container>
            <ng-container *ngSwitchDefault>
              <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
              <div matListItemTitle>{{menu.text}}</div>
            </ng-container>
          </ng-container> -->
          <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
          <div matListItemTitle>{{menu.text}}</div>
        </mat-list-item>
      </ng-template>

      <ng-template #childMenu let-menu="menu">
        <mat-expansion-panel [class.mat-elevation-z0]="true" [expanded]="true" class="menu-list">
          <mat-expansion-panel-header>
            <mat-panel-title>
              <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            </mat-panel-title>
            <mat-panel-description>
              {{menu.text}}
            </mat-panel-description>

            <!-- <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>
            <mat-panel-title>
              Personal data
            </mat-panel-title> -->
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
              routerLinkActive="active">
              <mat-icon matListItemIcon>{{menu.icon}}</mat-icon>
              <div matListItemTitle>{{menu.text}}</div>
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
        <mat-divider></mat-divider>
      </ng-template>

    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngIf="loading$ | async">
        <div class="overlay"></div>
        <mat-progress-spinner class="load-spiner" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-container>
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>