<div class="example-container" [class.example-is-mobile]="mobileQuery.matches">
  <mat-sidenav-container class="example-sidenav-container">
    <mat-sidenav #snav [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches"
      [opened]="mobileQuery.matches ===false">
      <mat-toolbar>
        <span>Menu</span>
      </mat-toolbar>
      <mat-card class="card-profile footer">
        <mat-card-header>
          <div mat-card-avatar class="card-profile-image"></div>
          <mat-card-title>{{authService.account.officer.fullname|titlecase|slice:0:25}}
          </mat-card-title>
          <mat-card-subtitle>{{authService.account.officer.jobtitle|slice:0:25}}</mat-card-subtitle>
          <div style="flex-grow: 1"></div>
          <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
            <mat-icon>more_vert</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <!-- <button mat-menu-item [matMenuTriggerFor]="themes">
              <mat-icon>palette</mat-icon>
              <span>temas</span>
            </button> -->
            <!-- <button routerLink="/home/recursos" mat-menu-item>
              <mat-icon>dataset</mat-icon>
              <span>Recursos</span>
            </button>
            <button routerLink="/home/notifications" mat-menu-item>
              <mat-icon>dataset</mat-icon>
              <span>noti</span>
            </button> -->
            <button (click)="editAccount()" mat-menu-item>
              <mat-icon>manage_accounts</mat-icon>
              <span>Configurar cuenta</span>
            </button>
            <button (click)="logout()" mat-menu-item>
              <mat-icon>logout</mat-icon>
              <span>Cerrar sesion</span>
            </button>
            
            <mat-menu #themes="matMenu">
              <button *ngFor="let option of options" mat-menu-item (click)="setTheme(option.value)">
                <mat-icon role="img" svgicon="theme-example" aria-hidden="true">
                  <svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="100%"
                    height="100%" viewBox="0 0 80 80" fit="" preserveAspectRatio="xMidYMid meet" focusable="false">
                    <defs>
                      <path
                        d="M77.87 0C79.05 0 80 .95 80 2.13v75.74c0 1.17-.95 2.13-2.13 2.13H2.13C.96 80 0 79.04 0 77.87V2.13C0 .95.96 0 2.13 0h75.74z"
                        id="a">
                      </path>
                      <path
                        d="M54 40c3.32 0 6 2.69 6 6 0 1.2 0-1.2 0 0 0 3.31-2.68 6-6 6H26c-3.31 0-6-2.69-6-6 0-1.2 0 1.2 0 0 0-3.31 2.69-6 6-6h28z"
                        id="b">
                      </path>
                      <path d="M0 0h80v17.24H0V0z" id="c"></path>
                    </defs>
                    <use xlink:href="#a" [attr.fill]="option.backgroundColor"></use>
                    <use xlink:href="#b" [attr.fill]="option.buttonColor"></use>
                    <use xlink:href="#c" [attr.fill]="option.headingColor"></use>
                  </svg>
                </mat-icon>
                <span>{{ option.label }}</span>
              </button>
            </mat-menu>
          </mat-menu>
        </mat-card-header>
      </mat-card>

      <mat-nav-list class="side-navnar">
        <ng-container *ngFor="let menu of Menu ; index as i;">
          <ng-container [ngTemplateOutlet]="menu.children ?  childMenu : parentMenu"
            [ngTemplateOutletContext]="{menu:menu}">
          </ng-container>
        </ng-container>
      </mat-nav-list>

      <ng-template #parentMenu let-menu="menu">
        <mat-list-item routerLinkActive="active" [routerLink]="menu.routerLink">
          <mat-icon>{{menu.icon}}</mat-icon>
          <span *ngIf="!menu.routerLink.includes('entrada')"> {{menu.text}}</span>
          <span *ngIf="menu.routerLink.includes('entrada')" [matBadge]="(number_mails|async)"
            [matBadgeHidden]="(number_mails|async)===0" matBadgeOverlap=false class="demo-section" matBadgeColor="warn">
            {{menu.text}}</span>
        </mat-list-item>
      </ng-template>

      <ng-template #childMenu let-menu="menu">
        <mat-expansion-panel [class.mat-elevation-z0]="true">
          <mat-expansion-panel-header>
            <mat-icon mat-list-icon>{{menu.icon}}</mat-icon>{{menu.text}}
          </mat-expansion-panel-header>
          <mat-nav-list>
            <mat-list-item [routerLink]="submenu.routerLink" *ngFor="let submenu of menu.children"
              routerLinkActive="active">
              <mat-icon>{{submenu.icon}}</mat-icon> {{submenu.text}}
            </mat-list-item>
          </mat-nav-list>
        </mat-expansion-panel>
      </ng-template>

    </mat-sidenav>

    <mat-sidenav-content>
      <ng-container *ngIf="loading$ | async">
        <div class="overlay"></div>
        <mat-progress-spinner class="load-spiner" [mode]="'indeterminate'"></mat-progress-spinner>
      </ng-container>
      <router-outlet></router-outlet>

    </mat-sidenav-content>


  </mat-sidenav-container>


</div>