.example-container {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
}

h1.example-app-name {
    margin-left: 8px;
}

.example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
}

.example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
}

.example-card {
    max-width: 200px;
}


.example-spacer {
    flex: 1 1 auto;
}

.mat-list-item.active {
    background-color: #64B5F6;
    color: white;
    border-left: 8px solid #1E88E5;
    width: calc(100% - 8px) !important;
}

.campo_cuenta {
    line-height: 1em;
    height: 2em;
    overflow: hidden;
    font-size: medium;
    margin-left: 10px;
}

.load-spiner {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 3;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 2;
    backdrop-filter: blur(2px);
}

::ng-deep .mat-expansion-panel-header {
    padding: 0 16px !important;
}

::ng-deep .mat-nav-list .mat-icon {
    margin-right: 30px;
}

::ng-deep .mat-expansion-panel-body {
    padding: 0 !important
}

::ng-deep .mat-expansion-panel-header {
    height: 48px !important;
}

::ng-deep .mat-expansion-panel .mat-list-item {
    padding-left: 15px !important;
}

::ng-deep .mat-nav-list .is-active {
    background-color: cornflowerblue;
    border-left: 8px solid rgb(139, 137, 133);
    width: calc(100% - 8px) !important;
}



::ng-deep .mat-list-base {
    padding-top: 0 !important;
}

::ng-deep .mat-nav-list .mat-list-item.is-active .mat-list-item-content {
    padding: 0 8px;
}

mat-sidenav {
    width: 250px;
}

/* mat-sidenav-content {
    background-image: url('../../assets/img/logo_alcaldia.png');
    background-repeat: no-repeat;
    background-position: center;
    box-shadow: 0 0 0 0 !important;
} */