<div class="container-fluid">
  <div class="alert alert-danger text-center" role="alert">
    <span class="fw-bold"> Duracion: {{ duration() }} </span>
  </div>
  <div class="row g-2">
    <div class="col-sm-12">
      <div class="shadow rounded">
        <div class="card bg-transparent">
          <div class="card-body">
            <h5 class="card-title">
              {{ procedure.code }} /
              <span class="badge" [ngClass]="procedure.state | state">{{
                procedure.state
              }}</span>
            </h5>
            <h6 class="card-subtitle mb-2 text-muted">
              Encargado: {{ procedure.fullNameManager }}
            </h6>
            <form class="row g-3">
              <div class="col-12">
                <label for="txtType" class="form-label">Tipo de tramite</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtType"
                  [value]="procedure.type.nombre"
                  readonly
                />
              </div>
              <div class="col-12">
                <label for="txtDescription" class="form-label"
                  >Descripcion</label
                >
                <textarea class="form-control" id="txtDescription" readonly>{{
                  procedure.reference
                }}</textarea>
              </div>
              <div class="col-md-4">
                <label for="txtCantidad" class="form-label">Cantidad</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtCantidad"
                  [value]="procedure.amount"
                  readonly
                />
              </div>
              <div class="col-md-4">
                <label for="txtCite" class="form-label">Cite</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtCite"
                  [value]="procedure.citeCode"
                  readonly
                />
              </div>
            </form>
          </div>
          <div class="card-footer">
            <small class="text-body-secondary fs-6"
              >FECHA REGISTRO: {{ procedure.startDate | date : "short" }}</small
            >
          </div>
          <div *ngIf="procedure.endDate" class="card-footer">
            <small class="text-body-secondary fs-6"
              >FECHA CONCLUSION: {{ procedure.endDate | date : "short" }}</small
            >
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="shadow rounded">
        <div class="card bg-transparent">
          <div class="card-body">
            <h5 class="card-title">REMITENTE</h5>
            <form class="row g-3">
              <div class="col-12">
                <label for="txtNameEmitter" class="form-label"
                  >Funcionario</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="txtNameEmitter"
                  [value]="procedure.details.remitente.nombre"
                  readonly
                />
              </div>
              <div class="col-12">
                <label for="txtjobEmitter" class="form-label">Cargo</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtjobEmitter"
                  [value]="procedure.details.remitente.cargo"
                  readonly
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    <div class="col-sm-6">
      <div class="shadow rounded">
        <div class="card bg-transparent">
          <div class="card-body">
            <h5 class="card-title">DESTINATARIO</h5>
            <form class="row g-3">
              <div class="col-12">
                <label for="txtNameReceiver" class="form-label"
                  >Funcionario</label
                >
                <input
                  type="text"
                  class="form-control"
                  id="txtNameReceiver"
                  [value]="procedure.details.destinatario.nombre"
                  readonly
                />
              </div>
              <div class="col-12">
                <label for="txtjobReceiver" class="form-label">Cargo</label>
                <input
                  type="text"
                  class="form-control"
                  id="txtjobReceiver"
                  [value]="procedure.details.destinatario.cargo"
                  readonly
                />
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
