<app-toolbar title="REPORTES"></app-toolbar>
<div class="container-fluid">
    <mat-drawer-container class="example-container" [hasBackdrop]="false">
        <mat-drawer #drawer [mode]="isMobile ? 'over' : 'side'" [opened]="true" [position]="'end'">
            <mat-toolbar class="footer">
                <span>Opciones</span>
                <span class="example-spacer"></span>
                <button (click)="drawer.toggle()" mat-icon-button class="example-icon favorite-icon">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <div [ngClass]="isMobile ? 'options-menu-mobile' : 'options-menu'">
                <div class="row">
                    <div class="col-sm-12">
                        <mat-form-field appearance="fill" class="example-full-width">
                            <mat-label>TIPO DE REPORTE</mat-label>
                            <mat-select (selectionChange)="selectTypeReport($event.value)">
                                <mat-option *ngFor="let typeReport of typesOfReports" [value]="typeReport">
                                    REPORTE POR: {{typeReport|uppercase}}
                                </mat-option>
                            </mat-select>
                        </mat-form-field>
                    </div>
                </div>


                <div [ngSwitch]="reportType">
                    <div *ngSwitchCase="'solicitante'">
                        <app-report-solicitante-options
                            (sendDataEvent)="receiveData($event)"></app-report-solicitante-options>
                    </div>

                    <div *ngSwitchCase="'unidad'">
                        <app-report-unidad-options (sendDataEvent)="receiveData($event)"></app-report-unidad-options>
                    </div>
                    <div *ngSwitchCase="'usuario'">
                        <app-report-usuario-options></app-report-usuario-options>
                    </div>

                    <div *ngSwitchDefault>output2</div>
                </div>
            </div>
        </mat-drawer>
        <mat-drawer-content>
            <mat-toolbar>
                <span>Reportes</span>
                <span class="example-spacer"></span>
                <button matTooltip="Generar reporte" [disabled]="dataSource.length===0" mat-icon-button
                    class="example-icon favorite-icon">
                    <mat-icon>picture_as_pdf</mat-icon>
                </button>
                <button matTooltip="Opciones reporte" (click)="drawer.toggle()" mat-icon-button class="example-icon">
                    <mat-icon>settings</mat-icon>
                </button>
            </mat-toolbar>
            <app-table-report-precedures [data]="dataSource" [colums]="displayedColumns"></app-table-report-precedures>
           


        </mat-drawer-content>
    </mat-drawer-container>

</div>